<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>风格结果</title>
		<link rel="stylesheet" href="css/jg.css" />
		<link rel="stylesheet" href="css/flash_b.css" />
		<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/gloab.js" async="async"></script>
	</head>
	<body>
		<div class="desib_box">
			<div class="desi_top"></div>
			<div class="desi_bottom"></div>
			<img class="des_img des_imga" src="img/flash_b/1.png" />
			<img class="des_img des_imgb" src="img/flash_b/2.png" />
			<img class="des_img des_imgc" src="img/flash_b/2.png" />
			<img class="des_img des_imgd" src="img/flash_b/4.png" />
			<img class="des_img des_imge" src="img/flash_b/5.png" />
			<img class="des_img des_imgf" src="img/flash_b/6.png" />
			<img class="des_img des_imgg" src="img/flash_b/7.png" />
			<img class="des_img des_imgh" src="img/flash_b/8.png" />
			<img class="des_img des_imgi" src="img/flash_b/9.png" />
			<img class="des_img des_imgj" src="img/flash_b/10.png" />
			<img class="des_img des_imgk" src="img/flash_b/11.png" />
			<img class="des_img des_imgl" src="img/flash_b/12.png" />
			<img class="des_img des_imgp_c" src="img/flash_b/15.png" />
			<img class="des_img des_imgp_d" src="img/flash_b/13.png" />
			<img class="des_img des_imgyfa" src="img/flash_b/2-6.png" />
			<img class="des_img des_imgyfb" src="img/flash_b/2-5.png" />
			<img class="des_img des_imgyfc" src="img/flash_b/2-4.png" />
			<img class="des_img des_imgyfd" src="img/flash_b/2-3.png" />
			<img class="des_img des_imgyfe" src="img/flash_b/2-2.png" />
			<img class="des_img des_imgyff" src="img/flash_b/2-1.png" />
		</div>
	</body>
</html>
