<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>风格结果</title>
		<link rel="stylesheet" href="css/jg.css" />
		<link rel="stylesheet" href="css/flash_c.css" />
		<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/gloab.js" async="async"></script>
	</head>
	<body>
		<div id="desib" class="desib_box">
			<div class="desi_top"></div>
			<div class="desi_bottom"></div>
			<img class="des_img des_imga" src="img/flash_c/1.png" />
			<img class="des_img des_imga_a" src="img/flash_c/1.png" />
			<img class="des_img des_imgb" src="img/flash_c/2.png" />
			<img class="des_img des_imgb_a" src="img/flash_c/2.png" />
			<img id="getaa" class="des_img des_imgc des_imgcc" src="img/flash_c/3.png" />
			<img class="des_img des_imgd" src="img/flash_c/4.png" />
			<img class="des_img des_imge" src="img/flash_c/5.png" />
			<img class="des_img des_imgf" src="img/flash_c/6.png" />
			<img class="des_img des_imgg" src="img/flash_c/7.png" />
			<img class="des_img des_imgh" src="img/flash_c/8.png" />
			<img class="des_img des_imgi" src="img/flash_c/9.png" />
			<img class="des_img des_imgj" src="img/flash_c/10.png" />
			<img class="des_img des_imgk" src="img/flash_c/11.png" />
			<img class="des_img des_imgl" src="img/flash_c/12.png" />
		</div>
	</body>
</html>
