@charset "utf-8";

a,body {
	color: #221814;
	text-decoration: none;

}
img { max-width: 100%;}
table {
	border-collapse: collapse;
	border-spacing: 0
}
input { border-radius: 0; line-height:normal !important ;}

fieldset,img {
	border: 0
}
ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}
a { text-decoration: none !important; }
a:focus {
	outline-style: none;
}

abbr,acronym {
	border: 0;
	font-variant: normal
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button { margin: 0; padding: 0;}
i{ font-style:normal} 

textarea {
	resize: none
}
ul {-webkit-padding-start: 0px;    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;}
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	 font-size: 50px;
	/*height: 100%;*/
	background-color: #FFFFFF;
	
}
body {
		font-family:"微软雅黑",arial,sans-serif;
		background: #ffffff;
		overflow-x: hidden;
		-webkit-text-size-adjust: none;
		margin: 0 auto;
		/*height: 100%;*/
	}


/*.banner { background: url(../img/bg.jpg) no-repeat center; background-size:contain;}
*/.banner_bc { position: absolute; width: 100%;  min-height: 100%; margin: 0 auto; left: 0; right: 0; top: 0;}
#gloab,.banner {width: 100%; float: left; font-size: .28rem;}
.banner { position: relative; overflow: hidden;}
.banner .language { position: absolute; top: .4rem; left:0; color: #FFFFFF;}
.language .active a { color: #ffffff;}
.language span:hover a { color: #FF4E38;}
.banner_box,.nav_box,.video_box,.why_box,.designer_box,.foin_box { width: 1080px;  color:#333333; text-align: center; position: relative; left: 0; right: 0; margin: 0 auto;}
.language a {color: #cccccc;}
.why_box { margin-top: 1.6rem;}
.language .chinaese::after { content: "|"; margin: 0 .1rem; color: #CCCCCC;}
.banner_center { padding: 1.1rem 0; }
#gloab .logo { font-size: 2rem; color: #FF4E38; position: relative;}
#gloab .logo::after { content: ""; position: absolute; width:90%; height: 90%; top: .1rem; left: .1rem; background: #FFFFFF; z-index: 1;}
.icon-chusheng01:before { position: relative; z-index: 99;}
#gloab .font_big { font-size: .88rem; color: #FFFFFF; font-weight: bold; margin: .8rem auto .4rem;}
.font_center { font-size: .4rem; color: #FFFFFF;}
.btn_foin { clear: both; text-decoration: none; text-align: center; width: 6rem; height: 1rem; margin: 1.2rem auto 0 auto; background: #FF4E38; line-height: 1rem;}
.btn_foin a { display: block; font-size: .32rem; color: #FFFFFF;}
.btn_foin:hover {background:#cc3e2d;}
.center_nav { clear: both; float: left; width: 100%; padding: 1.2rem 0;	}
 .nav_box {}
.nav_here { width: 33.33%; float: left; color: #333333; position: relative; text-align: center;}
.nav_here span { display: block; text-align: center; font-size: .28rem;}
.nav_box .here_title { font-size: .36rem ; font-weight: bold;}
.here_heng { width: .4rem; height: .08rem; background: #FF4E38; position: relative; margin: .4rem auto; left: 50%; margin-left: -.2rem;}
.here_bot { color: #666666; line-height: 1.5;}
.video ,.designer_list,.foin_our { position: relative; background: #f2f2f2; clear: both; width: 100%; float: left; padding-bottom: 2rem;}
.video span { display: block; text-align: center;}
video { background: #FFFFFF; position: absolute; width: 100%; height: 100%; left:0; top: 0;}
.video .video_logo { font-size: .88rem; margin-top: 2rem; color: #FF4E38;}
.video_title { font-size: .48rem; color: #333333; font-weight: bold; margin: .8rem auto .2rem;}
.video_titlea { font-size: .28rem; color: #999999; margin-bottom: .8rem;}
.vedio_box { width: 15.76rem; cursor: pointer;  height:8.865rem; background: #FFFFFF; position: relative; left: 50%; margin-left: -7.88rem;}
#example_video1{ position: absolute; left: 0; top: 0;}
.btn_bf { position: absolute; z-index: 99; width: 1.32rem; height: 1.32rem; left: 50%; top: 50%; margin: -.66rem 0 0 -.66rem;}
.who_for { text-align: center; margin-bottom: 2rem; float: left; width: 100%; clear: both;}
.who_for span { display: block;}
.who_for .who_logo { font-size: .88rem; color: #FF4E38; margin: 2rem auto 0 auto;}
.why_here { width: 33.33%; float: left; text-align: center; font-size: .36rem; color: #333333;}
.why_here .who_logoa { font-size: 3rem; color: #666666; height: 3.4rem; line-height: 3.4rem;}
.designer_list {}
.designer_here { width:30%; background: #FFFFFF; float: left; margin-right: 5%; margin-top: 3.4rem; text-align: center;}
.last_here {margin-right: 0; }
.designer_here:last-child {margin-right: 0;}
.desi_name { display: block; position: relative; top: -1.2rem; font-size: .48rem; color: #333333; }
.maohao { float: left; font-size: .72rem; color: #999999; margin-left: .8rem; position: relative; top: -.4rem;}
.designer_here .head_img {width: 3.2rem; position: relative; top: -1.6rem;}
.designer_here >div { clear: both; padding-bottom: .8rem; text-align: left; margin-left: 2rem; margin-right: 2rem; margin-top: .4rem; color: #999999; line-height: 1.5;}
.foin_logo { font-size: .88rem !important; color: #FF4E38; margin-top: 2rem;}
.foin_box span { display: block;}
.foin_our { background: #FFFFFF; padding-bottom: 1.6rem;}
.foin_here { width: 30%; float: left; margin-right: 5%; background: #f2f2f2; padding-bottom: 1.6rem;}
.last_foin_here { margin-right: 0;}
.foin_our .video_title { margin-bottom: .8rem;}

.foin_here .foin_name { position: relative; margin-bottom: .8rem; float: left; font-size: .96rem; font-weight: bold;  color: #999999;}
.foin_name::after { content: ""; position: absolute; width: 100%; height: .2rem; bottom: -.16rem; left: 0; background: #FF4E38;}
.first_foin::after { width: 84%;}
.first_foina::after { width: 97%;}
.first_foinb::after { width: 99%;}
.foin_namea { font-size: .48rem; clear: both;}
.foin_nameb { font-size: .28rem; color: #999999; margin-top: .8rem; line-height: 1.5;}

.footer { position: relative; font-size: .24rem; overflow: hidden; margin-top: 1.6rem; background: #f2f2f2; width: 100%; clear: both; text-align: center;}
.foot_box { position: relative; left:0; right: 0; padding: .8rem 0 0 0; width: 1080px; margin: 0 auto;}
.foot_left { display: block; text-align: center;}
.foot_right {position: absolute;top: .4rem; right: 1rem;}
.foot_right span { display: block;}
.foot_right img { width: 80px;}
.foot_left span { display: block; color: #999999;}
.foot_left .center_sp { margin:  .4rem 0;}
.foot_left .top_sp { margin-top:  .2rem; color: #333333;}
.foot_left .boot_sp { margin-bottom:  .4rem;}
.foot_boot { padding: .4rem 0; margin-top: .6rem; display: block; float: left; width: 100%; background: #999999; color: #FFFFFF; font-size: .24rem;}
.foot_boot  span { display: block; line-height: 1.5;}
.langb { display: none; margin-bottom: .4rem;}
.langb .active a { color: #333333;}
.bg_bc { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 10;}

/*适配*/
@media screen and (max-width: 1441px) {
   html {
       font-size: 46px;
    }
}

@media screen and (max-width: 1367px) {
   html {
       font-size: 42px;
    }
}
 
@media screen and (max-width: 1080px) {
	 html {
       font-size: 42px;
    }
.banner_box, .nav_box, .video_box, .why_box, .designer_box, .foin_box { width: 100%;}
.maohao { width: 8%; margin-left: 5%;}	
.designer_here >div { margin-left: 15%; margin-right: 15%; }
.designer_here .head_img {}
.foin_name img { width: 100%;}
.foot_box{ width: 100%;}
}

@media screen and (max-width: 880px) {
   html {
      font-size: 42px;
    }
}

@media screen and (max-width: 625px) {
   html {
         font-size: 38px;
    }
   .banner_bc { min-width: 17rem; left: 50%; margin-left: -8.5rem;}
}
/*小屏样式*/
@media screen and (max-width: 580px) {
   html {
         font-size: 38px;
    }
    .pc .banner { min-height: 355px; }
    .font_big { font-size: .68rem;}
    .pc .font_center { font-size: .3rem;}
    .font_big img { width: 6rem;}
    .video { padding-bottom: 0 !important;}
   .nav_here { width: 100%; margin-bottom: 1.6rem;}
   .vedio_box {width: 100%; left: 0; margin-left: 0;}
   .why_here { width: 100%; margin-bottom: 1.4rem;}
   .why_here:last-child { margin-bottom: 0;}
   .designer_here { width: 80%; margin: 3.4rem auto 0 auto !important; float: none;}
	.foin_here{width:66.66%; margin: 0 auto 1.6rem auto; float: none;}
	.foot_right { position: inherit; top: 0; right: 0; left: 0;}
	.foot_left { margin-top: .6rem;}
	.langa{ display: none;}
	.langb { display: block;}
}
@media screen and (max-width:415px) {
	html {
         font-size: 38px;
    }
  .iphone .here_title,.iphone .desi_name,.iphone .video_title,.iphone .foin_namea {font-size: .50rem !important;}
  .iphone .here_bot , .iphone .why_here,.iphone .designer_here >div,.iphone .foin_nameb,.iphone .video_titlea {font-size: .38rem !important;}
   .iphone .why_here img { width: 26.66%;}
   .iphone .footer { font-size: .32rem;}
   .iphone .video_title {  margin: .8rem auto .2rem;}
   .iphone .video_titlea { margin: 0 .6rem .8rem .6rem;}
   .iphone .foot_left .center_sp {    margin: .4rem .6rem;}
   .iphone .why_box { margin-top: .6rem;}
   .iphone .why_sp { display: inline;}
   .iphone .why_sp:last-child {position: relative; left: -4px;}
   .iphone .foin_our .video_title { margin-bottom: .8rem;}
   .iphone .btn_foin {margin: .8rem auto 0 auto;}
   .iphone .foin_here:last-child {margin: 0 auto;}
   .iphone .foin_name::after {    bottom: -.12rem;}
}



@media screen and (max-width:376px) {
	html {
         font-size: 38px;
    }
  .iphone .here_title,.iphone .desi_name,.iphone .video_title,.iphone .foin_namea {font-size: .48rem !important;}
  .iphone .here_bot , .iphone .why_here,.iphone .designer_here >div,.iphone .foin_nameb,.iphone .video_titlea {font-size: .36rem !important;}
   .iphone .why_here img { width: 26.66%;}
}

@media screen and (max-width:321px) {
	html {
         font-size: 38px;
    }
  .iphone .here_title,.iphone .desi_name,.iphone .video_title,.iphone .foin_namea {font-size: .44rem !important;}
  .iphone .here_bot , .iphone .why_here,.iphone .designer_here >div,.iphone .foin_nameb,.iphone .video_titlea {font-size: .32rem !important;}
   .iphone .why_here img { width: 26.66%;}
   .iphone .font_center { font-size: .32rem;}
}



@media screen and (max-width:300px) {
  
   
}