body{ padding-top: 0;}
.demand_box { position: absolute; width: 100%; height: 100%;  bottom: 0; left: 0; font-size: .24rem;}
.bot_btn_box { width: 84%; color: #FFFFFF; font-size: .28rem; height: .88rem; position: absolute; left: .6rem; bottom: .4rem;}

.bot_btn_box >span { background: #FF4E38;}
.bot_btn_box .next_btn,.bot_btn_box .tj_btn { background: #C9C9CA;}
 .tj_btn a { display: block; color: #FFFFFF !important;}
.true_btn .next_btn,.true_btn .tj_btn {background: #FF4E38 !important;}
.true_btn .next_btn:hover,.true_btn .tj_btn:hover {background: #ca4133 !important;}
.first_btn>span { display: none; }
.first_btn .next_btn { display: block; width: 100%; height: 100%; text-align: center; line-height: .88rem;}
.center_btn .next_btn,.center_btn .prev_btn {float: left; width: 47.62%; text-align: center; height: .88rem; line-height: .88rem;}
.center_btn .next_btn {float: right;}
.center_btn .tj_btn { display: none;}
.last_btn .next_btn { display: none;}
.last_btn>span {float: left; width: 47.62%; text-align: center; height: .88rem; line-height: .88rem;}
.last_btn .tj_btn { float: right;}
.demand_big { text-align: center; margin-top: 1.18rem; color: #777777;}
.demand_big .demand_here { display: none;}
.demand_big>.active { display: block;}
.dem_title,.dem_list,.list_title { display: block; color: #221814;}
.dem_title { font-size: .32rem; font-weight: bold; margin: .4rem auto .2rem; color: #221814;}
.dem_list { margin-bottom: .4rem; color: #777777;}
.red { color: #FF4E38;}
.list_title { text-align: left; text-indent: .3rem; margin-bottom: .2rem; margin-top: .4rem; font-size: .28rem; }
.dem_where { float: left; margin-bottom: .4rem; width: 100%;}
.dem_where>span { float: left; width: 2.1rem; margin-left: .3rem; height: .88rem; border: 1px solid #777777; box-sizing: border-box; line-height: .88rem; text-align: center;}
.dem_where>.active { border-color: #FF4E38; color: #FF4E38;}
.dema_ipt { border: none; width:92%; border-right: 4px solid #c9c9ca; height: .88rem; background: #eeefef;  outline: none; text-indent: .3rem; font-size: .24rem;}
.fx_box { width: 100%; margin: .4rem auto .8rem; float: left;}
.fx_box .fx_here {
    width: 2.1rem;
    position: relative;
}
.fx_box .here_bc { width: 100%; float: left; height: 100%;}
.fx_here>span { position: absolute; width: 100%; left: 0; top: .9rem; color: #FFFFFF; font-size: .28rem; font-weight: bold;}
.fx_box .active img { border: 5px solid #FF4E38; box-sizing: border-box;}
.three_ipt{ margin: .4rem 0;}
.four_box.five_box{ text-align: center;}
.four_box>div,.five_box .last_five { width: 2.1rem; color: #777777; height: 1.04rem; border: 1px solid #777777; margin: .4rem auto; line-height: 1.04rem;}
.four_box>.active { border-color: #FF4E38; color: #FF4E38;}
.five_box .last_five { line-height: 1rem;}
.five_box .last_five.active { border: 1px solid #FF4E38; color: #FF4E38;}
.five_box>div { line-height: .3rem;}
.five_box .active { border-color: #FF4E38 !important; color: #FF4E38;}
.five_box>div span{ display: block;}
.other_box2 .icon-xuanzhong{ color: #FF4E38;}


#sgdj { display: none;}
.other_box { display: block; padding: .2rem 0; margin-top: .6rem; color: #FF4E38;}
.other_box2 { padding: .2rem 0; display: none;}
.other_box2>span { margin-right: .4rem;}
.other_box2>span i { margin-right: .2rem; font-size: .24rem;}
.other_box2>span:last-child { margin-right: 0;}
.six_top { margin: .4rem 0;}
.six_top>span { display: block; text-align: center; margin-bottom: .2rem;}
.six_top .icon { color: #FF4E38; font-size: .2rem;}
.dema_explain { margin-top: .2rem; margin-bottom: .4rem; text-align: left; margin-left: .3rem; margin-right: .3rem;}
.explain_title { display: block; margin: .2rem 0 .2rem;  font-weight: bold; color: #221814;}
.explain_mesg { color: #777777; line-height: 150%;}
.seven_box .seven_here { width: 4rem; height: 2.2rem; position: relative; color: #777777; border: 1px solid #777777; box-sizing: border-box; margin: .4rem auto 0 auto;}
.seven_box>.active {border-color: #FF4E38; color: #FF4E38;}
.seven_box .seven_here>span { display: block;}
.seven_spb,.seven_spc { font-size: .2rem;}
.seven_spa {margin: .25rem auto .2rem;}
.seven_spc { margin-top:.12rem ;}
.seven_spd {  position: absolute; width: 100%; left: 0; text-align: center; bottom: .3rem;}
.boxa_box { width: 2.8rem; height: 1.3rem; margin: 0 auto ; border: 1px solid #777777; color: #C9C9CA;}
.first_box>.boxa_box  { color: #777777;margin-bottom: .8rem;}
.first_box>.boxa_box:hover { color: #ff4e38; border-color: #ff4e38;}
.boxa_box>span { display: block; text-align: center;}
.boxa_box .box_soa{ font-size: .28rem; margin: .25rem auto .2rem;}
.boxa_box .box_sob{ font-size: .20rem;}
.boxa_box { margin-bottom: .4rem;}
.here_0 .dem_title { margin-bottom: .8rem;    margin-top: 1.28rem;
    text-align: center;}
.first_box { position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: #FFFFFF; z-index: 88;}
.first_box .activeaa { border: 1px solid #FF4E38; color: #FF4E38;}
.six_box { margin-top: .4rem;}
.after_input { position: relative;}
.after_input i{ position: absolute; right: .3rem; top: 0; color: #777777;}