@charset "utf-8";
body { position: absolute; left: 0; right: 0;}
.des_box { font-size: .24rem; overflow: hidden;}
.icon-sousuo { position: absolute; font-size: .32rem !important; width: .88rem; height: 100%; left: 0; top: 0;}
.icon-shaixuan { position: absolute; font-size: .32rem !important; width: .88rem; height: 100%; left: .88rem; top: 0;}
.des_box { text-align: center;}
.sousuo_title { margin: .8rem 0 .4rem 0; font-size: .28rem; font-weight: bold;}
.sousuo_tab { color: #9f9fa0; width: 100%; height: .88rem;}
.sousuo_tab>span { margin-left: 4%; float: left; height: .88rem; line-height: .88rem; width: 28%; box-sizing: border-box; border: 1px solid #EEEFEF;}
.sousuo_tab>span:last-child { margin-right: 4%;}
.sousuo_tab>span.active{ border-color: #FF4E38; color: #FF4E38;}
.xiala_box { width: 92%; margin-left: 4%; position: relative;}
.xiala_sp,.xiala_box li { height: .88rem; width: 100%; float: left;line-height: .88rem; text-align: left; text-indent: .3rem;}
 .xiala_sp { border: 1px solid #EEEFEF; background: #FFFFFF; box-sizing: border-box; font-size: .24rem;}
 .xiala_box li { background: #eeefef;}
  .xiala_box li.active { background: #FF4E38; color: #FFFFFF;}
.sousuo_box{
	height: 15rem;
	font-size: .24rem;
	text-align: center;
    position: absolute;
    width: 100%;
    max-width: 640px;
    top:.88rem;
    z-index: 99995;
    background: #ffffff;
    bottom: 0;
   }
.bottom_name .here_name::after { content: "ä¸¨"; padding-left: .2rem; color: #221814;}
.sifting { width: 84%; left: 8%; position: absolute; bottom: .4rem; height: .88rem; background: #FF4E38; line-height: .88rem; color: #FFFFFF; margin-top: 2.6rem;}
.xiala_box ul { overflow: auto;
    float: left;
    height: 0;
    height: 0rem;
    overflow: hidden;
    width: 100%;}
.xiala_box .iconfont { position: absolute;  font-size: .24rem; color: #FF4E38; right: .3rem; top: .3rem;}
.down { position: fixed; top: 0.88rem; bottom: 0; height: auto;  width: 100%;} 
#wrapper {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: #333;
        top:.88rem;
}
.scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	padding-bottom: 1.76rem;
}
.scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

.pullDown, .pullUp {
	float: left;
	width: 100%;
	text-align: center;
	height: .88rem;
	line-height: .88rem;
	font-size: 12px;
	color: #888;
	font-family: Arial, Microsoft YaHei;
	background-color: #333;
}
.pullDownLabel { line-height: .88rem;}

.pullDownLabel img {width: .48rem; height: .48rem; margin-right: .1rem; position: relative; top: .12rem;}
.pullDown .pullDownIcon, .pullUp .pullUpIcon {
	background: url("arrow.png") no-repeat;
	width: .48rem;
	height: .48rem;
	position: absolute;
	margin-top: .2rem;
	margin-bottom: .2rem;
	background-position: center;
	margin-left: 32%;
	background-size: .48rem .48rem;
	-webkit-background-size: .48rem .48rem;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	-moz-background-size: .48rem .48rem;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 250ms;
}
.pullDown .pullDownIcon {
	display: none;
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
}
.pullDown.flip .pullDownIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
}
.pullUp.flip .pullUpIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
	background-image: url(loader.png);
	background-size: .48rem .48rem;
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-transform: rotate(0deg) translateZ(0);
	-moz-transition-duration: 0ms;
	-moz-animation-name: loading;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes loading {
 from {
-webkit-transform:rotate(0deg) translateZ(0);
}
to {
	-webkit-transform: rotate(360deg) translateZ(0);
}
}
@-moz-keyframes loading {
 from {
-moz-transform:rotate(0deg) translateZ(0);
}
to {
	-moz-transform: rotate(360deg) translateZ(0);
}
}
.des_box { position: static !important;}