.edit { font-size: .24rem;}
.edit_box { width: 92% !important; margin-left: 4%;}
.edit_top { padding: .4rem 0; border-bottom: 1px solid #EEEFEF;}
.edit_here { display: block;  margin-top: .4rem;}
.edit_here .here_meng { float: right; color: #9F9FA0;}
.fill_more { font-size: .28rem; margin-top: .8rem; margin-bottom: .2rem; float: left; width: 100%;}
.submit_box { font-size: .24rem;}
.submit_true { margin-top: .8rem; display: block; font-size: .32rem; color: #FF4E38; text-align: center;}
.submit_truea { display: block; text-align: center; margin: .2rem auto .8rem;}
.submit_here { margin-top: .4rem; width: 100%; float: left;}
.submit_herea { margin-top: 0;}
.dema_ipt { border: none; width: 100%; border-right: 4px solid #c9c9ca; height: .88rem; background: #eeefef;  outline: none; text-indent: .3rem; font-size: .24rem;}

.submit_here>span { display: block;}
.submit_here .here_b{ color: #9F9FA0; margin: .2rem 0;}
.type_list>div { margin-bottom: .4rem; float: left; width: 100%;}
.here_img_box ul li img { width: 100%; float: left; height: 100%;}
.here_img_box li i {position: absolute; color: #FF4E38; right: -.14rem; top: -.14rem; font-size: .28rem;}

.type_list { margin-top: .4rem; display: block; float: left; width: 100%;}
.type_list .left_sp, .type_list .right_sp{ float: left; width: 50%;}
 .type_list .right_sp { text-indent: .3rem;}
 .type_list .iconfont { font-size: .24rem; margin-right: .2rem; color: #9F9FA0;}
 .type_list .icon-xuanzhong { color: #FF4E38;}
.img_file { opacity: 0;}
.text_box { width: 100%; min-height: 2.6rem; background: #eeefef; border: none; outline: none;}
.add_img { background: #eeefef; font-size: .44rem !important; color: #c9c9ca; position: relative;}
.add_img::before { position: absolute; left: 50%; top: 50%; margin: -.22rem 0 0 -.22rem;}
.chose_btn { width: 90%; height: .88rem; font-size: .28rem; color: #FFFFFF; text-align: center;  background: #FF4E38; line-height: .88rem; margin: .8rem 5% .3rem 5%; clear: both; float: left;}
.center_nameaa a { display: block; float:left; width:100%; margin-bottom: .8rem; color: #9F9FA0; text-align: center;}