.desi_top { position: absolute; left: 0; top: 0; width: 100%; height: 65%; background: #ededec; z-index: 2;}
.desi_bottom { position: absolute; left: 0; bottom: 0; width: 100%; height: 40%; background: #CCCCCC; z-index: 1;}
.gloab_bottm { background: #CCCCCC !important;}
.desib_box .miaoshu,.cs_more,.erweima,.bottm_mesg, .logoaa { color: #333333 !important;}
.desib_box_play .sanjiao_box .maodian_icon {animation:imgaa .4s ease-out 1 4.1s;-webkit-animation:imgaa .4s ease-out 1 4.1s;}
.desib_box_play .miaoshu { -webkit-animation: imgaa .5s ease-out 1 4s; animation: imgaa .5s ease-out 1 4s;}
 .share_box { animation:imgaa .5s ease-out 1 4s;-webkit-animation:imgaa .5s ease-out 1 4s;}

.desib_box .des_img {
	position: absolute;
	z-index: 3;
	animation-fill-mode: forwards !important;
	-webkit-animation-fill-mode: forwards !important;
}
.desib_box .des_imga {
	width: 13.1%;
	bottom: 40.7%;
	right: 4.7%;
	z-index: 9;
	opacity: 0;
}

.desib_box_play .des_imga {	animation:imgxx 2s linear infinite 3.6s;-webkit-animation:imgxx 2s linear infinite 3.6s;}
.desib_box .des_imgb {
	width:14.7%;
	bottom: 100%;
	left: 28%;
	z-index: 11;
}
.desib_box_play .des_imgb {animation:imgbb .4s ease-out 1 3.3s;-webkit-animation:imgbb .4s ease-out 1 3.3s;	}

.desib_box .des_imgc {
	width: 28.2%;
	right: 25%;
	top:27.5%;
	z-index: 11;
	opacity: 0;
}
.desib_box_play .des_imgc {animation:imgaa .5s ease-out 1 2.9s;-webkit-animation:imgaa .5s ease-out 1 2.9s;	}


.desib_box .des_imgd {
	width: 9.3%;
	right: -10%;
	bottom: 24.7%;
	z-index: 8;
}
.desib_box_play .des_imgd {animation:imgdd .3s ease-out 1 2.7s;-webkit-animation:imgdd .3s ease-out 1 2.7s;}
.desib_box .des_imge {
	width: 11.2%;
	right: 5.7%;
	bottom:40.3%;
	z-index: 7;
	opacity: 0;
	}
.desib_box_play .des_imge {animation:imgaa .4s ease-out 1 2.4s;-webkit-animation:imgaa .4s ease-out 1 2.4s;}
.desib_box .des_imgg {
	width: 17.6%;
	right: -18%;
	bottom: 31.2%;
	z-index: 8;
}
.desib_box_play .des_imgg {	animation:imggg .3s ease-out 1 2s;-webkit-animation:imggg .3s ease-out 1 2s;}
.desib_box .des_imgh {
	width: 42%;
	bottom: 25.8%;
	left: 30.4%;
	z-index: 12;
	opacity: 0;

}
.desib_box_play .des_imgh {	animation:imgaa .5s ease-out 1 1.7s;	-webkit-animation:imgaa .5s ease-out 1 1.7s;}

.desib_box .des_imgw { position: absolute; width: 100%; height: 65%; top: 0; left:0; z-index: 3;}
.desib_box .des_imgi {
	width: 60.4%;
	bottom: -15.5%;
	right: 18.1%;
	z-index: 7;
}
.desib_box_play .des_imgi {	animation:imgii .5s ease-out 1 1.3s;-webkit-animation:imgii .5s ease-out 1 1.3s;}
.desib_box .des_imgf {
	width: 13.3%;
	left: 8.1%;
	bottom: 30%;
	z-index: 10;
	opacity: 0;
}
.desib_box_play .des_imgf {	animation:imgaa .4s ease-out 1 2.2s;-webkit-animation:imgaa .4s ease-out 1 2.2s;}
.desib_box .des_imgj {
	width: 25.7%;
	right: 23.6%;
	bottom: 100%;
	z-index: 11;
}
.desib_box_play .des_imgj {animation:imgjj .5s ease-out 1 .8s;-webkit-animation:imgjj .5s ease-out 1 .8s;}
.desib_box .des_imgk {
	width: 41.8%;
	left: -42%;
	bottom: 32.9%;
	z-index: 5;
}
.desib_box_play .des_imgk {animation:imgkk .5s ease-out 1 .5s;-webkit-animation:imgkk .5s ease-out 1 .5s;}
.desib_box .des_imgx{
	z-index: 8;
    left: 36.4%;
    width: 5.7%;
    top: 43.4%;
    opacity: 0;
}
.desib_box .des_imgxx{
	left: 57.7% !important;
}
.desib_box_play .des_imgx{}

.desib_box .des_imgm {
	width: 26.6%;
	left: -27%;
	bottom: 33.9%;
	z-index: 4;
}
.desib_box_play .des_imgm {	animation:imgmm .3s ease-out 1 3.2s;-webkit-animation:imgmm .3s ease-out 1 3.2s;}

.desib_box .des_imgq {
	width: 18.5%;
	left: -19%;
	bottom: 33.9%;
	z-index: 5;
}
.desib_box_play .des_imgq {	animation:imgqq .3s ease-out 1 3.4s;-webkit-animation:imgqq .3s ease-out 1 3.4s;}
.desib_box .des_imgl {
	width: 100%;
	height: 65%;
	left: 0;
	top: 0%;
	z-index: 3;
}

@keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes imgaal {
	from {
		top: -75%;
		
	}
	to {
		top: -20%;
	}
}


@keyframes imgbb {
	from {
		bottom: 100%;
	}
	to {
		bottom: 59%;
	}
}
@keyframes imgcc {
	from {
		top: -60%;
	}
	to {
		top: -10%;
	}
}


@keyframes imgdd {
	from {
		right: -10%;
	}
	to {
		right: 9.1%;
	}
}

@keyframes imgff {
	from {
		bottom: 100%;
	}
	to {
		bottom: 27.2%;
	}
}

@keyframes imgjj {
	from {
		bottom: 100%;
	}
	to {
		bottom: 30.8%;
	}
}
@keyframes imghh {
	from {
		right: -12%;
	}
	to {
		right: 20.3%;
	}
}
@keyframes imgii {
	from {
		bottom: -15.5%;
	}
	to {
		bottom: 22.7%;
	}
}
@keyframes imggg {
	from {
		right: -18%;
	}
	to {
		right: 2.7%;
	}
}
@keyframes imgkk {
	from {
		left: -42%;
	}
	to {
		left: 3.3%;
	}
}

@keyframes imgll {
	from {
		right: -30%;
	}
	to {
		right: 19.5%;
	}
}
@keyframes imgmm {
	from {
		left: -27%;
	}
	to {
		left: 4.2%;
	}
}

@keyframes imgqq {
	from {
		left: -19%;
	}
	to {
		left: 8.2%;
	}
}

@keyframes imgxx {
	0% {
		opacity:.2;
	}
	10% { opacity: .4;}
	20% { opacity: .6;}
	30% { opacity: .7;}
	40% { opacity: 1;}
	50% { opacity: 1;}
	60% { opacity: .8;}
	100% { opacity: .2;}
}




@-webkit-keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes imgaal {
	from {
		top: -75%;
		
	}
	to {
		top: -20%;
	}
}


@-webkit-keyframes imgbb {
	from {
		bottom: 100%;
	}
	to {
		bottom: 59%;
	}
}
@-webkit-keyframes imgcc {
	from {
		top: -60%;
	}
	to {
		top: -10%;
	}
}


@-webkit-keyframes imgdd {
	from {
		right: -10%;
	}
	to {
		right: 9.1%;
	}
}

@-webkit-keyframes imgff {
	from {
		bottom: 100%;
	}
	to {
		bottom: 27.2%;
	}
}

@-webkit-keyframes imgjj {
	from {
		bottom: 100%;
	}
	to {
		bottom: 30.8%;
	}
}
@-webkit-keyframes imghh {
	from {
		right: -12%;
	}
	to {
		right: 20.3%;
	}
}
@-webkit-keyframes imgii {
	from {
		bottom: -15.5%;
	}
	to {
		bottom: 22.7%;
	}
}
@-webkit-keyframes imggg {
	from {
		right: -18%;
	}
	to {
		right: 2.7%;
	}
}
@-webkit-keyframes imgkk {
	from {
		left: -42%;
	}
	to {
		left: 3.3%;
	}
}

@-webkit-keyframes imgll {
	from {
		right: -30%;
	}
	to {
		right: 19.5%;
	}
}
@-webkit-keyframes imgmm {
	from {
		left: -27%;
	}
	to {
		left: 4.2%;
	}
}

@-webkit-keyframes imgqq {
	from {
		left: -19%;
	}
	to {
		left: 8.2%;
	}
}

@-webkit-keyframes imgxx {
	0% {
		opacity:.2;
	}
	10% { opacity: .4;}
	20% { opacity: .6;}
	30% { opacity: .7;}
	40% { opacity: 1;}
	50% { opacity: 1;}
	60% { opacity: .8;}
	100% { opacity: .2;}
}

/*锚点*/
.miaodiana_a{
    top: 16.5%;
}
.miaodiana_a .sanjiao_box{
    left: 35.3%;
}

.miaodiana_b{
        top: 67.5%;
}
.miaodiana_b .sanjiao_box{
    left: 92%;
}


.miaodiana_c{
    top: 62.6%;
}
.miaodiana_c .sanjiao_box{
    left: 38.8%;
}


.miaodiana_d{
    top: 67.5%;
}
.miaodiana_d .sanjiao_box{
    left: 26.8%;
}

.miaodiana_e{
    top: 69%;
}
.miaodiana_e .sanjiao_box{
    left: 6.8%;
}

.miaodiana_f{
    top: 59%;
}
.miaodiana_f .sanjiao_box{
    left: 74.8%;
}