.desi_top { position: absolute; left: 0; top: 0; width: 100%; height: 65%; background: #f5e9de; z-index: 2;}
.desi_bottom { position: absolute; left: 0; bottom: 0; width: 100%; height: 40%; background: #f5e9de; z-index: 1;}
.gloab_bottm { background: #f5e9de !important;}
.desib_box .miaoshu,.cs_more,.erweima,.bottm_mesg, .logoaa { color: #894b40 !important;}
.desib_box_play .sanjiao_box .maodian_icon {animation:imgaa .4s ease-out 1 3.3s;-webkit-animation:imgaa .4s ease-out 1 3.3s;}
.desib_box_play .miaoshu { -webkit-animation: imgaa .5s ease-out 1 3.2s; animation: imgaa .5s ease-out 1 3.2s;}
 .share_box { animation:imgaa .5s ease-out 1 3.2s;-webkit-animation:imgaa .5s ease-out 1 3.2s;}

.desib_box .des_img {
	position: absolute;
	z-index: 3;
	animation-fill-mode: forwards !important;
	-webkit-animation-fill-mode: forwards !important;
}
.desib_box .des_imga {
	width: 10.3%;
	bottom: 52.9%;
    left: -14%;
	z-index: 19;
	-webkit-transform-origin: center top;
	transform-origin: center top;
}

.desib_box_play .des_imga {	animation:imgaaa 2s linear infinite 3s;-webkit-animation:imgaaa 2s linear infinite 3s;}
.desib_box .des_imgb {
	width:13.3%;
	bottom: 31.5%;
	left: -20.7%;
	z-index: 13;
}
.desib_box_play .des_imgb {	animation:imgbb .4s ease-out 1 2.6s;-webkit-animation:imgbb .4s ease-out 1 2.6s;}

.desib_box .des_imgc {
	width: 10.3%;
	left: 26.6%;
	top:-55%;
	z-index: 13;
}
.desib_box .des_imgca {
	left: 43.1%;
	top:-55%;
}

.desib_box_play .des_imgcb {animation:imgaal .4s ease-out 1 2.1s;-webkit-animation:imgaal .4s ease-out 1 2.1s;}
.desib_box_play .des_imgca {animation:imgaa2 .4s ease-out 1 2.3s;-webkit-animation:imgaa2 .4s ease-out 1 2.3s;}

.desib_box .des_imgd {
	width: 100%;
	top:64.8%;
	height: 13.6%;
	left: 0;
	z-index: 3;
}
.desib_box_play .des_imgd {}
.desib_box .des_imge {
	width: 16.2%;
	left: 20%;
	bottom:27.7%;
	z-index: 17;
	opacity: 0;
	}
.desib_box_play .des_imge {animation:imgaa .4s ease-out 1 1.8s;-webkit-animation:imgaa .4s ease-out 1 1.8s;	}
.desib_box .des_imgg {
	width: 66.9%;
	left: 9.7%;
	bottom: -15%;
	z-index: 6;
}
.desib_box_play .des_imgg {animation:imggg .4s ease-out 1 1.2s;-webkit-animation:imggg .4s ease-out 1 1.2s;	}
.desib_box .des_imgh {
	width: 34%;
	bottom: 33.6%;
	left:-35%;
	z-index: 12;

}
.desib_box_play .des_imgh {	animation:imghh .4s ease-out 1 .9s;-webkit-animation:imghh .4s ease-out 1 .9s;	}

.desib_box .des_imgw { position: absolute; width: 100%; height: 65%; top: 0; left:0; z-index: 3;}
.desib_box .des_imgi {
	width: 40.8%;
	right: 14.4%;
	bottom: 100%;
	z-index: 7;
}
.desib_box_play .des_imgi {	animation:imgii .4s ease-out 1 .5s;-webkit-animation:imgii .4s ease-out 1 .5s;}
.desib_box .des_imgf {
	width: 50.7%;
	right: -51%;
	bottom: 27.7%;
	z-index: 13;
}
.desib_box_play .des_imgf {	animation:imgff .4s ease-out 1 1.5s;-webkit-animation:imgff .4s ease-out 1 1.5s;}

@keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes imgaaa {
	0% {
		transform:rotate(0deg);
	}
	
	25% {
		transform:rotate(4deg);
	}
	50% {
		transform:rotate(0deg);
	}
	75% {
		transform:rotate(-4deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
@keyframes imgaal {
	from {
		top: -55%;
		
	}
	to {
		top: -9%;
	}
}
@keyframes imgaa2 {
	from {
		top: -55%;
		
	}
	to {
		top: -14%;
	}
}

@keyframes imgbb {
	from {
		left: -20.7%;
	}
	to {
		left: 4.1%;
	}
}
@keyframes imgcc {
	from {
		top: -60%;
	}
	to {
		top: -10%;
	}
}


@keyframes imgdd {
	from {
		right: -10%;
	}
	to {
		right: 9.1%;
	}
}

@keyframes imgff {
	from {
		right:-51%;
	}
	to {
		right: 2.8%;
	}
}
@keyframes imggg {
	from {
		bottom: -15%;
	}
	to {
		bottom: 25.3%;
	}
}

@keyframes imgjj {
	from {
		bottom: 100%;
	}
	to {
		bottom: 30.8%;
	}
}
@keyframes imghh {
	from {
		left: -35%;
	}
	to {
		 left: 17.7%;
	}
}
@keyframes imgii {
	from {
		bottom: 100%;
	}
	to {
		bottom: 33.5%;
	}
}


@keyframes imgxx {
	0% {
		opacity:.2;
	}
	10% { opacity: .4;}
	20% { opacity: .6;}
	30% { opacity: .7;}
	40% { opacity: 1;}
	50% { opacity: 1;}
	60% { opacity: .8;}
	100% { opacity: .2;}
}






@-webkit-keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes imgaaa {
	0% {
		-webkit-transform:rotate(0deg);
	}
	
	25% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(0deg);
	}
	75% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
	}
}
@-webkit-keyframes imgaal {
	from {
		top: -55%;
		
	}
	to {
		top: -9%;
	}
}
@-webkit-keyframes imgaa2 {
	from {
		top: -55%;
		
	}
	to {
		top: -14%;
	}
}

@-webkit-keyframes imgbb {
	from {
		left: -20.7%;
	}
	to {
		left: 4.1%;
	}
}
@-webkit-keyframes imgcc {
	from {
		top: -60%;
	}
	to {
		top: -10%;
	}
}


@-webkit-keyframes imgdd {
	from {
		right: -10%;
	}
	to {
		right: 9.1%;
	}
}

@-webkit-keyframes imgff {
	from {
		right:-51%;
	}
	to {
		right: 2.8%;
	}
}
@-webkit-keyframes imggg {
	from {
		bottom: -15%;
	}
	to {
		bottom: 25.3%;
	}
}

@-webkit-keyframes imgjj {
	from {
		bottom: 100%;
	}
	to {
		bottom: 30.8%;
	}
}
@-webkit-keyframes imghh {
	from {
		left: -35%;
	}
	to {
		 left: 17.7%;
	}
}
@-webkit-keyframes imgii {
	from {
		bottom: 100%;
	}
	to {
		bottom: 33.5%;
	}
}


@-webkit-keyframes imgxx {
	0% {
		opacity:.2;
	}
	10% { opacity: .4;}
	20% { opacity: .6;}
	30% { opacity: .7;}
	40% { opacity: 1;}
	50% { opacity: 1;}
	60% { opacity: .8;}
	100% { opacity: .2;}
}


/*锚点*/
.miaodiana_a{
    top: 16.5%;
}
.miaodiana_a .sanjiao_box{
    left: 35.3%;
}

.miaodiana_b{
    top: 32%;
}
.miaodiana_b .sanjiao_box{
    left: 54%;
}


.miaodiana_c{
    top: 50.4%;
}
.miaodiana_c .sanjiao_box{
    left: 41.5%;
}


.miaodiana_d{
    top: 71.3%;
}
.miaodiana_d .sanjiao_box{
    left: 3.8%;
}

.miaodiana_e{
    top: 56.6%;
}
.miaodiana_e .sanjiao_box{
    left: 89.3%;
}

.miaodiana_f{
    top: 50.6%;
}
.miaodiana_f .sanjiao_box{
    left: 41.8%;
}