.desi_top { position: absolute; left: 0; top: 0; width: 100%; height: 65%; background: #ffc28a; z-index: 2;}
.desi_bottom { position: absolute; left: 0; bottom: 0; width: 100%; height: 40%; background: #d2d0cf; z-index: 1;}
.desib_box .des_img {
	position: absolute;
	z-index: 3;
	animation-fill-mode: forwards !important;
}

.desib_box .des_imga {
	width: 15%;
	top: 39%;
	left: 18.4%;
	z-index: 6;
	opacity: 0;
	
}
.desib_box_play .des_imga {animation: imgaa .5s ease-out 1 2s;}
.desib_box .des_imgb {
	width: 16.3%;
	top: -43%;
	left: 39.1%;
	
}
.desib_box_play .des_imgb {animation: imgbb .5s ease-out 1 2.3s;}
.desib_box .des_imgc {
	width: 16.3%;
	top: -43%;
	left: 53%;
	
}
.desib_box_play .des_imgc {animation: imgcc .5s ease-out 1 2.5s;}
.desib_box .des_imgd {
	width: 12.1%;
	bottom: 53.9%;
	right: 16.3%;
	z-index: 6;
	opacity: 0;
	
}
.desib_box_play .des_imgd {animation: imgaa .4s ease-out 1 2.8s;}
.desib_box .des_imge {
	width: 9.4%;
	left: 42%;
	top: -63%;
}

.desib_box .des_imgg {
	width: 13.2%;
	right: 40%;
	bottom: 34%;
	z-index: 7;
	opacity: 0;
	
}
.desib_box_play .des_imgg {animation: imgaa .3s ease-out 1 1.7s;}
.desib_box .des_imgh {
	width: 64%;
	top: -20%;
	left: 19%;
	
}
.desib_box_play .des_imgh {animation: imghh .5s ease-out 1 .4s;}
.desib_box .des_imgi {
	width: 21.1%;
	bottom: 25.7%;
	left: -22%;
	z-index: 7;
	
}
.desib_box_play .des_imgi {animation: imgii .4s ease-out 1 1.2s;}
.desib_box .des_imgf {
	width: 36.6%;
	right: -37%;
	bottom: 33.1%;
	z-index: 3;
	
}
.desib_box_play .des_imgf {animation: imgff .4s ease-out 1 0s;}
.desib_box .des_imgj {
	width: 33%;
	left: 33.9%;
	bottom: 28.2%;
	z-index: 7;
	opacity: 0;
	
}
.desib_box_play .des_imgj {animation: imgaa .4s ease-out 1 0.9s;}
.desib_box .des_imgk {
	width: 56.9%;
	left: 21.9%;
	bottom: -15%;
	z-index: 3;
	
}
.desib_box_play .des_imgk {animation: imgkk .5s ease-out 1 .4s;}
.desib_box .des_imgl {
	width: .5%;
	left: 49.1%;
	bottom: 34.5%;
	z-index: 4;
	opacity: 0;
	
}
.desib_box_play .des_imgl {animation: imgaal 2s linear infinite 1.8s;}
.desib_box .des_imgp_d {
	width: 8.6%;
	right: -9%;
	bottom: 31.2%;
	z-index: 7;
	
}
.desib_box_play .des_imgp_d {animation: imgpd .3s ease-out 1 1.5s;}
.desib_box .des_imgp_c {
	width: 6.5%;
	right: 8.1%;
	bottom: 54%;
	z-index: 3;
	opacity: 0;
	
}
.desib_box_play .des_imgp_c {animation: imgaa .4s ease-out 1 2.9s;}
.des_imgyfa {
	width: 3.6%;
	right: 17.9%;
	bottom: 58.5%;
	opacity: 0;
	
}
.desib_box_play .des_imgyfa {animation: imgpq 2s ease-out infinite 3.2s;}
.des_imgyfb {
	width: 1.2%;
	right: 15.9%;
	bottom: 60.2%;
	opacity: 0;
	
}
.desib_box_play .des_imgyfb {animation: imgpq 2s ease-out infinite 3.3s;}
.des_imgyfc {
	width: 1.8%;
	right: 17.6%;
	bottom: 62%;
	opacity: 0;
	
}
.desib_box_play .des_imgyfc {animation: imgpq 2s ease-out infinite 3.4s;}
.des_imgyfd {
	width: 1.3%;
	right: 14.3%;
	bottom: 63.2%;
	opacity: 0;
	
}
.desib_box_play .des_imgyfd {animation: imgpq 2s ease-out infinite 3.5s;	}
.des_imgyfe {
	width: 1.6%;
	right: 14.8%;
	bottom: 65.1%;
	opacity: 0;
	
}
.desib_box_play .des_imgyfe {animation: imgpq 2s ease-out infinite 3.6s;}
.des_imgyff {
	width: 1.1%;
	right: 13.1%;
	bottom: 66.1%;
	opacity: 0;
	
}
.desib_box_play .des_imgyff {animation: imgpq 2s ease-out infinite 3.7s;}
@keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes imgaal {
	0% {
		opacity: 0;
		bottom: 33.5%;
	}
	40% {
		opacity: 1;
		bottom: 35.5%;
	}
	50%{
		opacity: 0;
		bottom: 35.5%;
	}
	100%{
		opacity: 0;
		bottom: 35.5%;
	}
}


@keyframes imgbb {
	from {
		top: -43%;
	}
	to {
		top: 0%;
	}
}
@keyframes imgcc {
	from {
		top: -43%;
	}
	to {
		top: -5%;
	}
}

@keyframes imgdd {
	from {
		right: -20%;
	}
	to {
		right: 4.2%;
	}
}

@keyframes imgff {
	from {
		right: -37%;
	}
	to {
		right: 4.1%;
	}
}

@keyframes imgjj {
	from {
		top: -60%;
	}
	to {
		top: -13%;
	}
}
@keyframes imghh {
	from {
		top: -20%;
	}
	to {
		top: 56.9%;
	}
}
@keyframes imgii {
	from {
		left: -22%;
	}
	to {
		left: 3.1%;
	}
}

@keyframes imgkk {
	from {
		bottom: -15%;
	}
	to {
		bottom: 23%;
	}
}

@keyframes imgll {
	from {
		right: -30%;
	}
	to {
		right: 19.5%;
	}
}
@keyframes imgpd {
	from {
		right: -9%;
	}
	to {
		right: 6.7%;
	}
}

@keyframes imgpq {
	0% {
		opacity: 0;
	}
	11.25% {
		opacity: .5;
	}
	22.5% {
		opacity: 1;
	}
	33.75% {
		opacity: .5;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}