.desi_top { position: absolute; left: 0; top: 0; width: 100%; height: 65%; background: #e9ccc0; z-index: 2;}
.desi_bottom { position: absolute; left: 0; bottom: 0; width: 100%; height: 40%; background: #794141; z-index: 1;}
.gloab_bottm { background: #794141 !important;}
.desib_box .miaoshu { color: #333 !important;}
.cs_more,.erweima,.bottm_mesg { color: #eacdc1 !important;}
.desib_box_play .sanjiao_box .maodian_icon {animation:imgaa .4s ease-out 1 3.1s;-webkit-animation:imgaa .4s ease-out 1 3.1s;}
.desib_box_play .miaoshu { -webkit-animation: imgaa .5s ease-out 1 3s; animation: imgaa .5s ease-out 1 3s;}
.share_box { animation:imgaa .5s ease-out 1 3s;-webkit-animation:imgaa .5s ease-out 1 3s;}
.cs_more a { color:#eacdc1 !important}
.desib_box .des_img {
	position: absolute;
	z-index: 3;
	animation-fill-mode: forwards !important;
	-webkit-animation-fill-mode: forwards !important;
}
.desib_box .des_imga {
	width:15.6%;
	bottom: 48.4%;
	right: 20.7%;
	z-index: 18;
	opacity: 0;
}

.desib_box_play .des_imga {	animation:imgxx 3s linear infinite 2.7s;-webkit-animation:imgxx 3s linear infinite 2.7s;}
.desib_box .des_imgb {
	width:13.2%;
	top: 49.4%;
	right: 21.9%;
	z-index: 18;
	opacity: 0;
}
.desib_box_play .des_imgb {	animation:imgxx 3s linear infinite 2.9s;-webkit-animation:imgxx 3s linear infinite 2.9s;	}

.desib_box .des_imgc {
	width: 18.2%;
	right: 19.1%;
	top:47.8%;
	z-index: 18;
	opacity: 0;
}
.desib_box_play .des_imgc {	animation:imgxx 3s linear infinite 2.5s;-webkit-animation:imgxx 3s linear infinite 2.5s;}


.desib_box .des_imgd {
	width: 10.9%;
	right: 22%;
	bottom: 48.1%;
	z-index: 18;
	opacity: 0;
}
.desib_box_play .des_imgd {	animation:imgxx 3s linear infinite 3.1s;-webkit-animation:imgxx 3s linear infinite 3.1s;}
.desib_box .des_imge {
	width: 7%;
	top: 53.7%;
	right: 36.5%;
	z-index: 10;
	opacity: 0;
	}
.desib_box_play .des_imge { animation:imgaa .4s ease-out 1 2.2s;-webkit-animation:imgaa .4s ease-out 1 2.2s;}

.desib_box .des_imgg {
	width: 10.7%;
	right: 2.5%;
	top: -80%;
}
.desib_box .des_imgga {
	right: 17.3%;
}
.desib_box_play  .des_imgga { animation:imgggb .4s ease-out 1 1.9s;-webkit-animation:imgggb .4s ease-out 1 1.9s;}
.desib_box_play  .des_imggb { animation:imggga .4s ease-out 1 1.8s;-webkit-animation:imggga .4s ease-out 1 1.8s;}
.desib_box .des_imgw { position: absolute; width: 100%; height: 65%; top: 0; left:0; z-index: 3;}
.desib_box .des_imgi {
	width: 14.2%;
	bottom: 30.9%;
	right: -15%;
	z-index: 9;
}
.desib_box .des_imgia {right: 100%;}
.desib_box_play .des_imgia { animation:imgiib .3s ease-out 1 1.6s;-webkit-animation:imgiib .3s ease-out 1 1.6s;}
.desib_box_play .des_imgib { animation:imgiia .3s ease-out 1 1.6s;-webkit-animation:imgiia .3s ease-out 1 1.6s;}
.desib_box_play .des_imgi {}
.desib_box .des_imgf {
	width: 19.4%;
	right: 18.1%;
	top: 47.7%;
	z-index: 10;
	opacity: 0;
}
.desib_box_play .des_imgf { animation:imgaa .4s ease-out 1 2.5s;-webkit-animation:imgaa .4s ease-out 1 2.5s;	}
.desib_box .des_imgj {
	width: 25.7%;
	right: 23.6%;
	bottom: 100%;
	z-index: 11;
}
.desib_box_play .des_imgj {}
.desib_box .des_imgk {
	width: 61.9%;
	left: -62%;
	bottom: 26.1%;
	z-index: 15;
}
.desib_box_play .des_imgk {animation:imgkk .3s ease-out 1 1.4s;-webkit-animation:imgkk .3s ease-out 1 1.4s;}
.desib_box .des_imgx{
	z-index: 8;
    left: 61.9%;
    width: 5.7%;
    top: 43.4%;
}

.desib_box .des_imgm {
	width: 42.1%;
	left: 100%;
	top: 55.8%;
	z-index: 10;
}
.desib_box_play .des_imgm {animation:imgmm .3s ease-out 1 .8s;-webkit-animation:imgmm .3s ease-out 1 .8s;}

.desib_box .des_imgq {
	width: 18.5%;
	left: -19%;
	bottom: 33.9%;
	z-index: 5;
}
.desib_box_play .des_imgq {}
.desib_box .des_imgl {
	width: 58.7%;
	left: 20.6%;
	bottom:-15%;
	z-index: 8;
}
.desib_box_play .des_imgl {animation:imgll .3s ease-out 1 1s;-webkit-animation:imgll .3s ease-out 1 1s;}

.desib_box .des_imgn {
	width: 59.1%;
	left: 6.7%;
	bottom:100%;
}
.desib_box_play .des_imgn {animation:imgnn .4s ease-out 1 .5s;-webkit-animation:imgnn .4s ease-out 1 .5s;}
@keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



@keyframes imgbb {
	from {
		bottom: 100%;
	}
	to {
		bottom: 59%;
	}
}
@keyframes imggga {
	from {
		top: -80%;
	}
	to {
		top: -25%;
	}
}
@keyframes imgggb {
	from {
		top: -80%;
	}
	to {
		top: -28%;
	}
}

@keyframes imgiia {
	from {
		right: -15%;
	}
	to {
		right: 3.6%;
	}
}
@keyframes imgiib {
	from {
		right: 100%;
	}
	to {
		right: 82.1%;
	}
}

@keyframes imgcc {
	from {
		right: 100%;
	}
	to {
		right: 82.1%;
	}
}


@keyframes imgdd {
	from {
		right: -10%;
	}
	to {
		right: 9.1%;
	}
}

@keyframes imgff {
	from {
		bottom: 100%;
	}
	to {
		bottom: 27.2%;
	}
}

@keyframes imgjj {
	from {
		bottom: 100%;
	}
	to {
		bottom: 30.8%;
	}
}

@keyframes imgii {
	from {
		bottom: -15.5%;
	}
	to {
		bottom: 22.7%;
	}
}

@keyframes imgkk {
	from {
		left: -67%;
	}
	to {
		left: 19.1%;
	}
}

@keyframes imgll {
	from {
		bottom: -15%;
	}
	to {
		bottom: 22.9%;
	}
}
@keyframes imgmm {
	from {
		left: 100%;
	}
	to {
		left: 29.1%;
	}
}

@keyframes imgqq {
	from {
		left: -19%;
	}
	to {
		left: 8.2%;
	}
}
@keyframes imgnn {
	from {
		bottom: 100%;
	}
	to {
		bottom: 34.8%;
	}
}

@keyframes imgxx {
	0% {
		opacity:0;
	}
	20% { opacity: 1;}
	40% { opacity: 1;}
	60% { opacity: 0;}
	100% { opacity: 0;}
}




@-webkit-keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



@-webkit-keyframes imgbb {
	from {
		bottom: 100%;
	}
	to {
		bottom: 59%;
	}
}
@-webkit-keyframes imggga {
	from {
		top: -80%;
	}
	to {
		top: -25%;
	}
}
@-webkit-keyframes imgggb {
	from {
		top: -80%;
	}
	to {
		top: -28%;
	}
}

@-webkit-keyframes imgiia {
	from {
		right: -15%;
	}
	to {
		right: 3.6%;
	}
}
@-webkit-keyframes imgiib {
	from {
		right: 100%;
	}
	to {
		right: 82.1%;
	}
}

@-webkit-keyframes imgcc {
	from {
		right: 100%;
	}
	to {
		right: 82.1%;
	}
}


@-webkit-keyframes imgdd {
	from {
		right: -10%;
	}
	to {
		right: 9.1%;
	}
}

@-webkit-keyframes imgff {
	from {
		bottom: 100%;
	}
	to {
		bottom: 27.2%;
	}
}

@-webkit-keyframes imgjj {
	from {
		bottom: 100%;
	}
	to {
		bottom: 30.8%;
	}
}

@-webkit-keyframes imgii {
	from {
		bottom: -15.5%;
	}
	to {
		bottom: 22.7%;
	}
}

@-webkit-keyframes imgkk {
	from {
		left: -67%;
	}
	to {
		left: 19.1%;
	}
}

@-webkit-keyframes imgll {
	from {
		bottom: -15%;
	}
	to {
		bottom: 22.9%;
	}
}
@-webkit-keyframes imgmm {
	from {
		left: 100%;
	}
	to {
		left: 29.1%;
	}
}

@-webkit-keyframes imgqq {
	from {
		left: -19%;
	}
	to {
		left: 8.2%;
	}
}
@-webkit-keyframes imgnn {
	from {
		bottom: 100%;
	}
	to {
		bottom: 34.8%;
	}
}

@-webkit-keyframes imgxx {
	0% {
		opacity:0;
	}
	20% { opacity: 1;}
	40% { opacity: 1;}
	60% { opacity: 0;}
	100% { opacity: 0;}
}


/*锚点*/
.miaodiana_a{
    top: 16.5%;
}
.miaodiana_a .sanjiao_box{
    left: 43.3%;
}

.miaodiana_b{
    top: 54%;
}
.miaodiana_b .sanjiao_box{
    left: 79%;
}


.miaodiana_c{
    top: 38.6%;
}
.miaodiana_c .sanjiao_box{
    left: 65.8%;
}


.miaodiana_d{
    top: 71.3%;
}
.miaodiana_d .sanjiao_box{
    left: 16.8%;
}

.miaodiana_e{
    top: 65%;
}
.miaodiana_e .sanjiao_box{
    left: 41.8%;
}

.miaodiana_f{
    top: 59%;
}
.miaodiana_f .sanjiao_box{
    left: 74.8%;
}