.desi_top { position: absolute; left: 0; top: 0; width: 100%; height: 65%; background: #fdefd6; z-index: 2;}
.desi_bottom { position: absolute; left: 0; bottom: 0; width: 100%; height: 40%; background: #838384; z-index: 1;}
.gloab_bottm { background: #838384 !important;}
.desib_box .miaoshu,.cs_more,.erweima,.bottm_mesg, .logoaa { color: #333333 !important;}
.cs_more,.bottm_mesg { color: #eeeeee !important;}
.desib_box_play .sanjiao_box .maodian_icon {animation:imgaa .4s ease-out 1 4.9s;-webkit-animation:imgaa .4s ease-out 1 4.9s;}
.desib_box_play .miaoshu { -webkit-animation: imgaa .5s ease-out 1 4.8s; animation: imgaa .5s ease-out 1 4.8s;}
 .share_box { animation:imgaa .5s ease-out 1 4.8s;-webkit-animation:imgaa .5s ease-out 1 4.8s;}

.desib_box .des_img {
	position: absolute;
	z-index: 3;
	animation-fill-mode: forwards !important;
	-webkit-animation-fill-mode: forwards !important;
}
.desib_box .des_imga {
	width: 12.7%;
	top: -75%;
	left: 32.9%;
	z-index: 11;
}

.desib_box_play .des_imga {	animation:imgaal .4s ease-out 1 4.5s;-webkit-animation:imgaal .4s ease-out 1 4.5s;}
.desib_box .des_imgaa {
	width: 12.7%;
	top: -75%;
	right: 32.9%;
	z-index: 11;
}

.desib_box_play .des_imgaa {	animation:imgaal .4s ease-out 1 4.5s;-webkit-animation:imgaal .4s ease-out 1 4.5s;}
.desib_box .des_imgb {
	width:11.4%;
	bottom: 26.6%;
	right: -12%;
	z-index: 11;
}
.desib_box_play .des_imgb {	animation:imgbb .2s ease-out 1 2.7s;-webkit-animation:imgbb .2s ease-out 1 2.7s;}

.desib_box .des_imgc {
	width: 41.9%;
	left: 26.3%;
	bottom:22.7%;
	z-index: 11;
	opacity: 0;
	/*animation:imgcc .5s ease-out 1 4.4s;*/
}
.desib_box_play .des_imgc {	animation:imgaa .4s ease-out 1 2.3s;	-webkit-animation:imgaa .4s ease-out 1 2.3s;}


.desib_box .des_imgd {
	width: 52.7%;
	left: 21.3%;
	bottom: -10%;
	z-index: 8;
}
.desib_box_play .des_imgd {	animation:imgdd .5s ease-out 1 1.7s;	-webkit-animation:imgdd .5s ease-out 1 1.7s;}
.desib_box .des_imge {
	width: 9.2%;
	right: 14.7%;
	bottom:35.9%;
	z-index: 11;
	opacity: 0;
}
.desib_box_play .des_imge {	animation:imgaa .3s ease-out 1 1.4s;-webkit-animation:imgaa .3s ease-out 1 1.4s;}
.desib_box .des_imgg {
	width: 9.2%;
	right: 5%;
	bottom: 34.5%;
	z-index: 8;
	opacity: 0;
}
.desib_box_play .des_imgg {	animation:imgaa .3s ease-out 1 2.9s;-webkit-animation:imgaa .3s ease-out 1 2.9s;}
.desib_box .des_imgh {
	width: 11.7%;
	top: 44.6%;
	right: -12%;
	z-index: 8;

}
.desib_box_play .des_imgh {	animation:imghh .5s ease-out 1 .5s;	-webkit-animation:imghh .5s ease-out 1 .5s;}

.desib_box .des_imgw { position: absolute; width: 100%; height: 65%; top: 0; left:0; z-index: 3;}
.desib_box .des_imgi {
	width: 43.7%;
	top: 32.3%;
	left: 28%;
	z-index: 7;
	opacity: 0;
}
.desib_box_play .des_imgi {	animation:imgaa .4s ease-out 1 4.2s;-webkit-animation:imgaa .4s ease-out 1 4.2s;}
.desib_box .des_imgf {
	width: 86%;
	left: 6.1%;
	bottom: 100%;
	z-index: 10;
}
.desib_box_play .des_imgf {	animation:imgff .5s ease-out 1 .9s;-webkit-animation:imgff .5s ease-out 1 .9s;}
.desib_box .des_imgj {
	width: 12.9%;
	left: 10.8%;
	top: 41.2%;
	z-index: 6;
	opacity: 0;
}
.desib_box_play .des_imgj {	animation:imgaa .3s ease-out 1 3.9s;	-webkit-animation:imgaa .3s ease-out 1 3.9s;}
.desib_box .des_imgk {
	width: 16.9%;
	left: 8.9%;
	top: 45%;
	z-index: 5;
	opacity: 0;
}
.desib_box .des_imgx{
	z-index: 8;
    left: 36.5%;
    width: 5.7%;
    top: 43.4%;
    opacity: 0;
}
.desib_box .des_imgxx{
	left: 57.8% !important;
}
.desib_box_play .des_imgx{animation:imgxx 2s linear infinite 4.8s;-webkit-animation:imgxx 2s linear infinite 4.8s;}
.desib_box_play .des_imgk {	animation:imgaa .3s ease-out 1 3.8s;-webkit-animation:imgaa .3s ease-out 1 3.8s;}
.desib_box .des_imgm {
	width: 26.6%;
	left: -27%;
	bottom: 33.9%;
	z-index: 4;
}
.desib_box_play .des_imgm {	animation:imgmm .3s ease-out 1 3.2s;-webkit-animation:imgmm .3s ease-out 1 3.2s;}

.desib_box .des_imgq {
	width: 18.5%;
	left: -19%;
	bottom: 33.9%;
	z-index: 5;
}
.desib_box_play .des_imgq {	animation:imgqq .3s ease-out 1 3.4s;-webkit-animation:imgqq .3s ease-out 1 3.4s;}
.desib_box .des_imgl {
	width: 16.7%;
	left: 10.7%;
	bottom: 44.3%;
	z-index: 5;
	opacity: 0;
}
.desib_box_play .des_imgl {	animation:imgaa .3s ease-out 1 3.6s;-webkit-animation:imgaa .3s ease-out 1 3.6s;}

@keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes imgaal {
	from {
		top: -75%;
		
	}
	to {
		top: -20%;
	}
}


@keyframes imgbb {
	from {
		right: -12%;
	}
	to {
		right: 3.6%;
	}
}
@keyframes imgcc {
	from {
		top: -60%;
	}
	to {
		top: -10%;
	}
}


@keyframes imgdd {
	from {
		bottom: -10%;
	}
	to {
		bottom: 21.1%;
	}
}

@keyframes imgff {
	from {
		bottom: 100%;
	}
	to {
		bottom: 27.2%;
	}
}

@keyframes imgjj {
	from {
		left: -19%;
	}
	to {
		left: 3.1%;
	}
}
@keyframes imghh {
	from {
		right: -12%;
	}
	to {
		right: 20.3%;
	}
}
@keyframes imgii {
	from {
		top: -25.5%;
	}
	to {
		top: 50.5%;
	}
}
@keyframes imggg {
	from {
		left: 134%;
	}
	to {
		left: 33.6%;
	}
}
@keyframes imgkk {
	from {
		top: -70%;
	}
	to {
		top: 0%;
	}
}

@keyframes imgll {
	from {
		right: -30%;
	}
	to {
		right: 19.5%;
	}
}
@keyframes imgmm {
	from {
		left: -27%;
	}
	to {
		left: 4.2%;
	}
}

@keyframes imgqq {
	from {
		left: -19%;
	}
	to {
		left: 8.2%;
	}
}

@keyframes imgxx {
	0% {
		opacity:.2;
	}
	10% { opacity: .2;}
	20% { opacity: .4;}
	30% { opacity: .6;}
	40% { opacity: .8;}
	50% { opacity: .7;}
	60% { opacity: .5;}
	100% { opacity: .2;}
}


@-webkit-keyframes imgaa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes imgaal {
	from {
		top: -75%;
		
	}
	to {
		top: -20%;
	}
}


@-webkit-keyframes imgbb {
	from {
		right: -12%;
	}
	to {
		right: 3.6%;
	}
}
@-webkit-keyframes imgcc {
	from {
		top: -60%;
	}
	to {
		top: -10%;
	}
}


@-webkit-keyframes imgdd {
	from {
		bottom: -10%;
	}
	to {
		bottom: 21.1%;
	}
}

@-webkit-keyframes imgff {
	from {
		bottom: 100%;
	}
	to {
		bottom: 27.2%;
	}
}

@-webkit-keyframes imgjj {
	from {
		left: -19%;
	}
	to {
		left: 3.1%;
	}
}
@-webkit-keyframes imghh {
	from {
		right: -12%;
	}
	to {
		right: 20.3%;
	}
}
@-webkit-keyframes imgii {
	from {
		top: -25.5%;
	}
	to {
		top: 50.5%;
	}
}
@-webkit-keyframes imggg {
	from {
		left: 134%;
	}
	to {
		left: 33.6%;
	}
}
@-webkit-keyframes imgkk {
	from {
		top: -70%;
	}
	to {
		top: 0%;
	}
}

@-webkit-keyframes imgll {
	from {
		right: -30%;
	}
	to {
		right: 19.5%;
	}
}
@-webkit-keyframes imgmm {
	from {
		left: -27%;
	}
	to {
		left: 4.2%;
	}
}

@-webkit-keyframes imgqq {
	from {
		left: -19%;
	}
	to {
		left: 8.2%;
	}
}

@-webkit-keyframes imgxx {
	0% {
		opacity:.2;
	}
	10% { opacity: .2;}
	20% { opacity: .4;}
	30% { opacity: .6;}
	40% { opacity: .8;}
	50% { opacity: .7;}
	60% { opacity: .5;}
	100% { opacity: .2;}
}


/*锚点*/
.miaodiana_a{
    top: 16.5%;
}
.miaodiana_a .sanjiao_box{
    left: 35.3%;
}


.miaodiana_b{
    top: 27%;
}
.miaodiana_b .sanjiao_box{
    left: 83%;
}


.miaodiana_c{
    top: 77.6%;
}
.miaodiana_c .sanjiao_box{
    left: 11.8%;
}


.miaodiana_d{
    top: 41.3%;
}
.miaodiana_d .sanjiao_box{
    left: 37.8%;
}

.miaodiana_e{
    top: 68%;
}
.miaodiana_e .sanjiao_box{
    left: 85.8%;
}

.miaodiana_f{
    top: 61%;
}
.miaodiana_f .sanjiao_box{
    left: 27.8%;
}