body {  padding-bottom: 1.88rem;}
.page_banner { width: 100%; position: relative; z-index: 1; overflow: hidden; color: #FFFFFF;}
.page_banner .banner_img { width: 100%;  float: left; position: relative; z-index: 0;}
.page_banner>div { position: absolute; width: 100%; text-align: center; z-index: 22;}
.banner_head {width: 2.2rem; height: 2.2rem; background: #FFFFFF; left: 50%; margin-left: -1.1rem; float: left; text-align: center;  border-radius: 1.1rem; overflow: hidden; position: relative; bottom: 1rem; z-index: 9;}
.pro_title .titl_span { z-index: 9;}
.banner_head img { width: 2rem; height: 2rem; border-radius: 1rem; position: relative; top: .1rem;}
.banner_mesg {  top: 1.5rem;}
.banner_name { font-size: .38rem;font-weight: bold;}
.banner_bq { font-size: .24rem; margin-top: .1rem;} 
.banner_bq>span { margin-right: .2rem;}
.banner_bq>span:last-child { margin-right: 0;}


.see_more { display: block; width: 100%; font-size: .24rem; margin-top: .4rem; text-align: center;float: left;}
.see_more a { color: #777777;}
.bx-wrapper{ z-index: 99999;}
.bx-viewport { 
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute !important; 
 }
 .pro_img_title { position: fixed; z-index: 100054; top: .2rem; heihgt:.4rem; line-height: .4rem; left: 0; width: 100%; text-align: center; color: #FFFFFF; font-size: .32rem;}
 .bx-wrapper { height: 100%;}
 #pro_title { background: #000000; opacity: .8; z-index: 100053; height: .8rem; top: 0;}
.Basic_Info { clear: both; margin-top: .8rem; padding-bottom: 2.4rem;   float: left; width: 100%;}
.pro_img_box { position: fixed; z-index: 100010; top: 0; max-width: 500px; height: 100%; left: 0; bottom: 0;  right:0; margin:auto; }
.pro_img_zd { position: absolute; width: 100%; height: 100%; top: 0; left: 0;z-index: 99988; background: #000000;}
.page_bottom { position: fixed; max-width: 500px; margin: 0 auto; left: 0; right: 0; background: #FFFFFF; border-top: 1px solid #eeefef; z-index: 99990; font-size: .24rem; width: 100%; bottom: 0px; left: 0; height: .88rem; line-height: .88rem;}
.page_bottom .botb a { color:#FFFFFF ;}
.page_bottom .botb {width: 50%; background: #ff4e38;}
.page_bottom .botb>span { font-size: .24rem;}
.post_title { display: block; position: relative; height: .66rem; overflow: hidden; text-align: center;}
.post_title span { width: 2.5rem; top: 0rem; z-index: 9999; position: absolute; height: .66rem; font-size: .32rem; line-height: .66rem; left: 50%; margin-left: -1.25rem;}
.post_title span a { color: #FFFFFF; font-weight: bold; display: block; position: absolute; width: 100%; z-index: 99;}
.topb { width: 100%; float: left; overflow: hidden;}
.topb>span { float: left; margin-right:.3rem; color:#777777; font-size: .24rem;}
.topb>div>Span { margin-right: .4rem; float: left; line-height: .36rem;}
.page_bottom .bota {width: 25%;}
.topb_box { margin-top:.1rem ; color: #777777;float: left; width: 100%;}

.page_bottom span { float: left; text-align: center; line-height: .88rem;}
.page_bottom a { display: block;line-height: .88rem;}
.info_here { overflow: hidden; margin-bottom: .4rem;}
.info_here .cccc { color:#777777; font-size: .24rem;}
.info_here .zuop { margin-right: .4rem;}
.Basic_Info_box { clear: both;float: left;width: 100%; position: relative; top: .4rem;}
.info_here_left { font-size: .24rem;  float: left; width: 30%; text-indent: .3rem;}
.info_here_right { font-size: .2rem; float: right; width: 66%; margin-right: 4%;}
.Basic_Info_box .red { color: #ff4f38;}
.addition { position: relative; padding-left: .3rem;}
.standard { margin-right: .4rem; position: relative; padding-left: .3rem;}
.standard::before,.addition::before { content: ""; width: .1rem; height: .1rem; margin-top: .07rem; position: absolute; left: 0px; }
.standard::before { background: #ff4f38;}

.addition::before { background: #777777;}

.bottom_name, .bottom_referral {
    left: 0 !important;
}
.sc_bot .active { color: #FF4E38;}

.check_charges { font-size: .24rem; color: #777777; position: fixed; max-width: 92%; left: 0; right: 0; bottom: -8rem; background: #FFFFFF; line-height: 150%; margin: auto; z-index: 99999; padding: .8rem 4% 1.68rem 4%;}
.check_charges>div { float: left; width: 100%;}
.check_charges .charges_title {color: #221814;}
.check_charges .charges_left { float: left;}
.check_charges .charges_right{ float: right;}
.charges_hui { margin: .4rem auto .2rem; color: #C9C9Ca;}
.charges_huia { color: #c9c9ca}
.check_charges .red { color: #FF4E38;}
.chargesaas { margin: .2rem auto .4rem;}
.charges_zd { position: fixed; display: none; width: 100%; max-width: 500px; height: 100%; left: 0; right: 0; margin: auto; top: 0; z-index: 99998; background: #000000; opacity: .0;}
.here_bottom { line-height: .88rem;    font-size: .24rem; text-indent: .3rem;}
 .pro_title .titl_span { top: .01rem;}
.pro_here { margin-top: 0;}
.charges_huibbb { color: #777777 !important;}
.bx-wrapper .bx-viewport {background: #000000;}
.bx-pager-link { display: none !important;}
.bx-wrapper li { height:100%;}
.bx-wrapper img {
    width: 100%;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
        
}
page_box .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {    display: none !important;}