
@font-face {font-family: "iconfont";
  src: url('../font-face/ali_font/iconfont.eot?t=1469947555'); /* IE9*/
  src: url('../font-face/ali_font/iconfont.eot?t=1469947555#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font-face/ali_font/iconfont.woff?t=1469947555') format('woff'), /* chrome, firefox */
  url('../font-face/ali_font/iconfont.ttf?t=1469947555') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font-face/ali_font/iconfont.svg?t=1469947555#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-logo:before { content: "\e600"; }
.icon-bofang1:before { content: "\e603"; }
.icon-tupian:before { content: "\e604"; }
.icon-gongneng:before { content: "\e605"; }
.icon-ceshi:before { content: "\e601"; }
.icon-hezuo:before { content: "\e606"; }
.icon-jiantou:before { content: "\e607"; }
.icon-sheji:before { content: "\e608"; }
.icon-shejishi:before { content: "\e609"; }
.icon-lingxing:before { content: "\e60a"; }
.icon-weixuanzhong:before { content: "\e60b"; }
.icon-xuanzhong:before { content: "\e60c"; }
.icon-shanchu:before { content: "\e60d"; }
.icon-shaixuan:before { content: "\e602"; }
.icon-sousuo:before { content: "\e60e"; }
.icon-quanbushanchu:before { content: "\e60f"; }
.icon-tianjia:before { content: "\e610"; }
.icon-weixin:before { content: "\e611"; }
.icon-kefu:before { content: "\e612"; }
.icon-bangzhu:before { content: "\e613"; }
.icon-bot:before { content: "\e614"; }
.icon-shanchu1:before { content: "\e615"; }
.icon-xiala:before { content: "\e616"; }
.icon-zuanshi:before { content: "\e617"; }
.icon-logo1:before { content: "\e618"; }