.index_box { font-size: .24rem;}
.banner { position: relative; overflow: hidden;}
.banner>img { width: 100%; float: left;}
.banner .banner_mesg { position: absolute; width: 100%; text-align: center; top: 1.3rem;}
.banner .banner_mesg>span { display: block; position: relative; font-weight: bold;}
.mesg_spa { font-size: .66rem; color: #FFFFFF;}
.mesg_spb { height: .66rem; margin-top: .3rem;}
.mesg_spb a,.btn_bot a { width: 1.8rem; display: block; text-align: center; height: .56rem; line-height: .56rem; position: absolute; top: 0px; left: 50%; margin-left: -.9rem; color: #FF4E38; background: #FFFFff;}
.btn_bot { float: left; width: 100%; position: relative; margin-bottom: .6rem;}
.btn_bot a { background: #FF4E38; color: #FFFFFF;}
.fingerpost { position: relative; clear: both;}

.post_title { display: block; margin-top: .8rem; position: relative; height: .66rem; overflow: hidden; text-align: center;}
.post_title span { width: 2.5rem; top: 0.02rem; z-index: 9999; position: absolute; height: .66rem; font-size: .32rem; line-height: .66rem; left: 50%; margin-left: -1.25rem;}
.post_title span a { color: #FFFFFF; font-family: fzlth,tahoma,arial,sans-serif !important; font-weight: bold; display: block; position: absolute; width: 100%; z-index: 99;}
.bg_banner { float: left; width: 100%;}

.bg_banner img {float: left; width: 100%;}
.bx-wrapper .bx-pager {
	width:.54rem ;
	color: #666;
	position: absolute;
	bottom: .2rem;
	height: .08rem;
	z-index: 999;
	
}
.bx-wrapper .bx-pager .bx-pager-item { float: left; background: #FFFFFF; width: .08rem; height: .08rem; margin-right: .1rem;-moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity: 0.5;}
.bx-wrapper .bx-pager .bx-pager-item:last-child {margin-right: 0;}
.bx-wrapper .bx-pager .bx-pager-item.hyeee{width: .16rem; background:#FFFFFF;-moz-opacity:1;  -khtml-opacity: 1;  opacity: 1;
 animation: myfirst .3s;
-moz-animation: myfirst .3s;	/* Firefox */
-webkit-animation: myfirst .3s;	/* Safari 和 Chrome */
-o-animation: myfirst .3s;	/* Opera */}
.bx-wrapper .bx-pager .bx-pager-item a { display: none;}

@keyframes myfirst
{
0% {width: .08rem;}
100% {width: .16rem;}
}
.bxs_title { font-size: .66rem; color: #FFFFFF; font-weight: bold; position: absolute; width: 100%; text-align: center; left: 0px; z-index: 9999; top: 50%; margin-top: -.38rem}
.bxslider { -moz-margin-left:-40px;}
.production { margin-top: .8rem; overflow: hidden; padding-bottom: .8rem;}
.bottom_name .here_name::after { content: "丨"; padding-left: .2rem; color: #221814;}
.use_zy { float: left; width: 100%; margin-top:.4rem ; position: relative; text-align: center; clear: both; padding-bottom: .8rem;}
.use_zy .use_zy_title { width: 2rem; height: 2rem; position: absolute; left: 50%; margin-left: -1rem;}
 .use_zy_title .use_zy_a { position: absolute; width: 100%; height: .66rem; background: #FF4E38; top: .67rem; left: 0; z-index: 22; line-height: .66rem; color: #FFFFFF; font-size: .32rem;}
 .use_zy_title .use_zy_b { position: absolute; height: 100%; width: .66rem; background: #FF4E38; left: .67rem; top: 0; z-index: 1;}

.use_zy_box { text-align: center; clear: both; padding-top: 2rem;}
.use_zy_box>span { display: block;}
.use_one { margin: .4rem auto .2rem auto; font-size: 1rem !important;}
.use_three {
    font-size: .2rem !important;
    margin: .4rem auto;
    color: #FF4E38;
}
.nav_bot { clear: both; position: relative; text-align: center;}
.nav_bot span {  margin-right: .66rem; font-weight: bold;}
.nav_bot span:last-child { margin-right: 0;}

.foot { text-align: center; margin-top: .8rem; color: #777777;}
.foot>span { display: block; padding-bottom: .4rem;}

.see_more {
    display: block;
    width: 100%;
    font-size: .24rem;
    margin-top: 1.1rem;
    text-align: center;
    float: left;
}
.see_more a {
    color: #777777;
}

.bot_btn_aa { text-align: center; position: relative; margin: .8rem 0 1.2rem 0; float: left; width: 100%;}
.bot_btn_aa span { width: 1.8rem; height: .56rem; line-height: .56rem; background:#ff4e38; color:#ffffff; position: absolute; left: 50%; margin-left: -.9rem;}
.banner .bx-controls { display: none;}
.bxsliderbb .bxs_title { position: absolute; left: 0; top: 2.4rem; z-index: 99991;}
.tools_box .bx-wrapper .bx-pager { width:.8rem; margin-left:-.4rem;}
.foot_a a { color: #777777;}
.foot_a_sp { margin: 0 .3rem;}































