.gloab { font-size: .28rem; display: none;}
.active { display: block;}
.gloab_top {width: 92%; margin: 0 4%;}
.top_title { position: relative; }
.top_right { position: absolute; right: 0; bottom: 0.3rem; font-size: .2rem; color: #999999;}
.gloab_top>.top_bottom { line-height:1.3; margin-top: 0; color: #999999; border-top: 1px solid #f2f2f2; padding: .3rem 0;}
.gloab_top>.top_bottom>span { display: block; color: #333333;}
.gloab_top>.top_bottom>.top_bottom_title { color: #ff4e38; font-size: .32rem; font-weight: bold; margin: 0 0 .2rem 0; }
.pro_number { color: #FF4E38; font-weight: bold; font-size: .32rem;}
.pro_box_big { width: 100%; background: #F2F2F2; padding: .3rem 0; position: relative;}
.pro_box { width: 92%; margin: 0 4%; background: #F2F2F2;}
.pro_box .pro_here { width: 100%;background:#FFFFFF; margin-bottom: .3rem; position: relative; box-sizing: border-box; border: 3px solid #FFFFFF;}
.pro_box .pro_here>img {width: 100%;}
.pro_box .foin_a .here_bg { position: absolute; z-index: 2; width:100%; height: auto; left:0; top: 0; bottom: .66rem; background: #FFFFFF; opacity: .5;}
.no_bottom .foin_a .here_bg { bottom: 0 !important;}
.pro_box .foin_a .here_text { color: #ff4e38;}
.pro_box .pro_here:last-child { margin-bottom: 0;}
.here_text { font-size: .24rem; font-weight: bold; height: .66rem; line-height: .66rem; text-align: center;}
.triangle-down {
	position: absolute;
	top: 0;
	left: 4%;
    width: 0;
    height: 0;
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
    border-top: .2rem solid #FFFFFF;
}
.by_ad { font-size: 1.6rem !important; color: #FF4E38;}


/*选择设计师*/
.match_nuber { font-weight: 600;
    font-size: .32rem;
    margin-left: 0.3rem;}
.match_nuber span { font-size: .24rem;font-weight: 100;}
.chose_sylt_btn { border-top: 1px solid #f2f2f2; height: .88rem;line-height: .88rem; text-align: center;}
.chose_sylt_btn a { display: block; color: #ff4e38; font-size: .24rem;}
.chose_box { padding-bottom: .3rem; overflow: hidden; font-size: .24rem;}
.chose_box .chose_here { float: left; width: 50%; position: relative;  border: .3rem solid #FFFFFF; border-bottom: none; box-sizing: border-box;}
.chose_boxa .chose_here:nth-child(odd) { border-right: .15rem solid #FFFFFF;}
.chose_boxa .chose_here:nth-child(even) { border-left: .15rem solid #FFFFFF;}
.open_self  .chose_here:nth-child(even) { border-right: .15rem solid #F2F2F2 !important;}
.open_self .chose_here:nth-child(odd) { border-left: .15rem solid #F2F2F2 !important;}
.chose_box .chose_here img { float: left; width: 100%;}
.chose_boxa .chose_here:nth-child(odd) { border-right: .15rem solid #FFFFFF;}
.chose_boxa .chose_here:nth-child(even) { border-left: .15rem solid #FFFFFF;}
.open_self  .chose_here:nth-child(even) { border-right: .15rem solid #F2F2F2 !important;}
.open_self .chose_here:nth-child(odd) { border-left: .15rem solid #F2F2F2 !important;}
.open_self .chose_here { border-color: #F2F2F2 !important;}
.chose_box .chose_here>div>span { position: absolute; width: 100%; left: 0; bottom:.3rem; text-align: center;z-index: 10;}
.open_self .style_bottom { height: .88rem;width: 100%;position: relative; overflow: hidden; float: left; line-height: .88rem; color: #999999; text-align: center; font-size: .2rem; width: 100%; background: #FFFFFF;}
.open_self .style_bottom ul li,.open_self .bot_title { line-height: .88rem; float: left;}
.open_self .style_bottom ul li { margin-bottom: .4rem; display: none;}
.open_self .bot_title { margin: 0 .2rem; color: #333333;}
.open_self .style_bottom ul { position: absolute; left: 1rem;  width: 3rem; top: 0;overflow: hidden; height: .88rem;}
.open_self .style_bottom ul li:nth-child(3){ position:relative; z-index: 4;}
.open_self .style_bottom ul li:nth-child(3) img { position: relative;z-index: 4;}

.open_self .style_bottom ul li:nth-child(1),.open_self .style_bottom ul li:nth-child(2),.open_self .style_bottom ul li:nth-child(3),.open_self .style_bottom ul li:nth-child(4) {display: inline !important;}
.open_self .style_bottom ul li:nth-child(3)::after { position: absolute;
    content: "";
    width: .6rem;
    height: .6rem;
    background: #FFFFFF;
    border-radius: .3rem;
    left: -0.05rem;
    top: 0.15rem;
    z-index: 3;}
.foin_bot_title { font-size: .24rem; color: #999999; display: block; text-align: center; margin-top: -.1rem;}

.logobtn { position: absolute; z-index: 1002; left: 50%; margin-left: -.44rem; bottom: .3rem; font-size: .88rem; color: #FF4E38; -webkit-font-smoothing: none !important;    -webkit-text-stroke-width: 0px !important;}
.open_self .style_bottom ul li:nth-child(4) { position: relative; left: -.3rem; z-index: 2; margin-right: 0;}
.open_self .style_bottom ul li>img { width: .5rem; height: .5rem;border: 1px solid #cccccc; box-sizing: border-box; margin-right: .1rem; border-radius: .25rem; margin-top: .19rem;}
.open_self .chose_here>div>span { bottom:1.18rem;}
.open_self  { background: #F2F2F2 !important;}

.foin_top,.foin_top>img { float: left; margin-bottom: .4rem;}
.self_foin { background: #f5e9df; overflow: hidden; min-height: 100%; position: relative;}
.foin_bottom { font-size: .28rem;}
.foin_bottom li  { display: block; width: 100%; float: left; margin-bottom: .4rem;}
.foin_bottom li span { float: left; line-height: .88rem;}
.foin_bottom li .user_name { font-weight: bold;white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 8em;}
.foin_bottom li .match_number { float: right; width: 8em; text-align: left;}
.foin_bottom li .match_number i { margin-left: .1rem;}
.foin_bottom li>img { margin: 0 .4rem 0 .3rem; border: 1px solid #cccccc; box-sizing: border-box; float: left; width: .88rem; height: .88rem; border-radius: .44rem;}


.foin_more { float:left; width: 100%; background: #FFFFFF; height: .95rem; line-height: .95rem; text-align: center; color: #FF4E38; font-size: .26rem;}
.top_mesg { width: 96%; position: absolute; left: 4%; top:.3rem;}
.top_mesg>span { display: block; line-height: 1.4; font-size: .24rem;}
.top_mesg .top_mesg_name { font-weight: bold; font-size: .28rem;white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 8em;}
