.report_box { font-size: .24rem;}
.report_center { display: block; text-align: center;}
.center_name { margin: .4rem auto .2rem; font-weight: bold;}
.ratio_box { margin-top: .4rem;}
.ratio_box .chart { width: 33.33%; float: left; text-align: center; position: relative;}
.ratio_box .chart .label { margin-top:.4rem ;}
.easyPieChart { color: #C9C9CA; font-style: italic; position: relative; text-align: center; left: 0;right: 0;top: 0; margin:  0 auto;}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.report_big{float: left; width: 100%;}
.report_big .re_here_title { font-size: .32rem; display: block; text-align: center; font-weight: bold; margin: .88rem auto .4rem;}
.report_here img { float: left; width: 100%;}
.report_mesg { float: left; width: 92%; padding: 0 4%; margin-top: .2rem; line-height: 150%; color: #C9C9CA;}
.report_here { float: left; width: 100%; clear: both; position: relative;}
.tj_btn { width: 84%; float: left; clear: both; margin:.8rem 8%; height: .88rem; background: #FF4E38; color: #FFFFFF; font-size: .28rem; text-align: center; line-height: .88rem;}






















