.submit_box { position: absolute;  left: .3rem; right: .3rem; width: auto;}
.dema_ipt { border: none; width: 100%; border-right: 4px solid #c9c9ca; height: .88rem; background: #eeefef;  outline: none; text-indent: .3rem; font-size: .24rem;}
.submit_box { font-size: .24rem;}
.submit_true { margin-top: .8rem; display: block; font-size: .32rem; color: #FF4E38; text-align: center;}
.submit_truea { display: block; text-align: center; margin: .2rem auto .8rem;}
.submit_here { margin-top: .4rem; width: 100%; float: left;}
.submit_herea { margin-top: 0;}
.submit_here>span { display: block;}
.submit_here .here_b{ color: #777777; margin: .2rem 0;}
.here_img_box ul li { float: left; position: relative; min-height: 100px; width: 31% !important; margin-right: 3.5%; margin-bottom: 3.5%;}
.here_img_box li:nth-child(3),.here_img_box li:nth-child(6),.here_img_box li:nth-child(9) { margin-right: 0;}
.type_list>div { margin-bottom: .4rem; float: left; width: 100%;}
.here_img_box ul li img { width: 100%; float: left; height: 100%;}
.here_img_box li i {position: absolute; color: #FF4E38; right: -.14rem; top: -.14rem; font-size: .28rem;}

.type_list { margin-top: .4rem; display: block; float: left; width: 100%;}
.type_list .left_sp, .type_list .right_sp{ float: left; width: 50%;}
 .type_list .right_sp { text-indent: .3rem;}
 .type_list .iconfont { font-size: .24rem; margin-right: .2rem; color: #777777;}
 .type_list .icon-xuanzhong { color: #FF4E38;}
.img_file { opacity: 0;}
.text_box { width: 100%; padding: 4%;min-height: 2.6rem; line-height: 150%; font-size: .24rem; background: #eeefef; border: none; outline: none;}
.zhihui { background: #777777 !important;}
.add_img { background: #eeefef; font-size: .44rem !important; color: #c9c9ca; position: relative;}
.add_img::before { position: absolute; left: 50%; top: 50%; margin: -.22rem 0 0 -.22rem;}
.chose_btn { width: 90%; height: .88rem; font-size: .28rem; color: #FFFFFF; text-align: center;  background: #FF4E38; line-height: .88rem; margin: .8rem 5% .3rem 5%; clear: both; float: left;}
.center_nameaa a { display: block;  margin-bottom: .8rem; color: #777777; text-align: center;width: 90%;
    height: .88rem;
    font-size: .28rem;
    color: #ff4e38;
    text-align: center;
    background: #ffffff;
    border: 1px solid #ff4e38;
    line-height: .88rem;
    margin: 0 5% .8rem 5%;
    clear: both;
    float: left;}
.control-label { display: none;}
.upload_box input {     
	    position: absolute;
    /* float: left; */
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    top: 0;
}
.sub_form { padding-top: .8rem; clear: both; position:relative;}
.sub_form::before { content: ""; position: absolute; top: 0px; height: 1px; background: #efeeff; width: 120%; left: -10%;}



