.user_box { font-size: .24rem;}
#nav_box>li>div { width: 100%; font-size: .24rem;  overflow: hidden; text-align: center;}
.nav_box { width: 100%;overflow: hidden;}
.bg_nav { width: 100%; clear: both; height: .88rem; line-height: .88rem; background-color: #e6e6e6;}
.bg_nav li { width: 33.33%; float: left; font-weight: bold;}
.bg_nav li.active { color: green;}
.type_box { background-color: #FFFFFF; width: 300%; position: relative; left: 0px;}
.type_here { width: 33.33%; float: left; min-height: 35rem; background: gold;}

#user_tab { width: 100% !important; right: 0; top: 0rem; height: .88rem;  background: #999999;}
#user_tab .bx-pager { width: 100%; background: #FFFFFF; left: 0; top: 0; margin-left: 0;}
#user_tab .bx-pager .bx-pager-item { width: 25%; float: left; text-align: center;}
#user_tab .bx-pager .bx-pager-item a { display: block; width: 100%; text-align: center; height: .88rem; line-height: .88rem; top: 0px; margin: 0; border-radius: 0; background: none; color: #C9C9CA; text-indent: 0; z-index: 99;}
#nav_box { padding-top: .88rem;}
#nav_box li { overflow: hidden; min-height: 3rem; height: 100%; padding-bottom: 1rem;}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #999999;
    border-bottom: 2px solid #FF4E38;
    box-sizing: border-box;
    color: #221814 !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: 0 !important;}
.user_top>span { display: block; text-align: center;}
.head_img img {width: 2rem; height: 2rem; border-radius: 1rem; margin: .4rem auto .2rem auto;}
.head_name {font-size: .38rem; font-weight: bold;}
.head_more { color: #FF4E38; margin:  .3rem auto .6rem;}
.here_head img {  margin-left: .3rem;}
.right_type { position: absolute; height: .88rem; line-height: .88rem; font-size: .24rem; right: .3rem; color: #FF4E38;}
.fixed_top { position: fixed; top: .88rem !important; left: 0; right: 0;}
.tishi {padding:.4rem  0; background: #eeefef; line-height: 150%; font-size: .20rem; color: #9F9FA0;}
.bottom_name .here_name::after {
    content: "丨";
    padding-left: .2rem;
    color: #221814;
}
.dingdan { background: #eeefef; overflow: hidden; }
.dingdan>div {float: left; width: 100%; background: #FFFFFF; text-align: left;}
.dd_here { width: 100% !important; padding: 0 !important; margin-bottom: .4rem;}
.dd_here .here_bottom { position: relative; margin: .4rem 0;}
.jm_time,.jm_money{ display: block; text-align: left; margin-bottom: .2rem;}
.jm_money { color: #9f9fa0;}
.jm_money a { color: #FF4E38; text-decoration:line-through; margin-right: .2rem;}
.true_time {padding: .4rem 0 .4rem; text-align: left; color: #9F9FA0; border-top: 1px solid #EEEFEF;} 
/*.dd_here .here_head { width: .9rem;}
.dd_here .here_head img { margin-left: 0;}
.dd_here .bottom_name,.dd_here .bottom_referral {
    left: 0.6rem;
}*/

/*.dd_here .right_type { right: 0;}*/
/*.dd_here { margin-bottom: .4rem;width: 92% !important; padding: 0 4%;}*/
.jm_time, .jm_money,.true_time { text-indent: .3rem;}
.zy_pp .pro_here { margin-bottom: .4rem;}
.zy_pp .true_time { padding-left: .3rem; text-indent: 0; position: relative;}
.zy_pp .true_time .true_btn { position: absolute; font-size: .2rem; text-indent: 0; right: .3rem; top: 0; bottom: 0;width: 1.4rem; height: .6rem; background: #FF4E38; line-height: .6rem; color: #ffffff; margin: auto; text-align: center;}
.tj_spa { display: block; font-weight: bold; margin-bottom: .2rem;}
.tj_box { margin-left: .3rem;}
.tj_box >span { display: block;}
.tj_spb  { color: #9F9FA0; width: 5.7rem; margin-bottom: .4rem;}
.tj_spb a {color: #FF4E38;}
.zy_pp { margin-bottom: .4rem;}
.color_ccc { color: #9F9FA0 !important;}
.color_ooo { color: #221814 !important;}
.queren_btn  {  height: .3rem;}
.queren_btn >span { position: absolute; width: 1.8rem; top: 0; bottom: 0; margin: auto; height: .6rem; line-height: .6rem; text-align: center; color: #FFFFFF;}
.queren_btn .true_btnb { background: #FF4E38; right: .3rem;}
.queren_btn .true_btna { background: #9F9FA0; right: 2.5rem;}
.color_ccca { width: 2rem; line-height: .2rem; color: #9F9FA0;}
.ooo_spa,.ooo_spb { position: absolute; right: 0; text-align: right;}
 .ooo_spa{top: .15rem;}
 .here_bottom { bottom: 0;}
.ooo_spb { bottom: .2rem;}
.hetong {width: 3.5rem !important;}
/*.dd_here .jm_time, .dd_here .jm_money {
    text-indent: .3rem;
}*/



/*风格报告*/

.report_center { display: block; text-align: center;}
.center_name { margin: .4rem auto .2rem; font-weight: bold;}
.ratio_box { margin-top: .4rem;}
.ratio_box .chart { width: 33.33%; float: left; text-align: center; position: relative;}
.ratio_box .chart .label { margin-top:.4rem ;}
.easyPieChart { color: #C9C9CA; font-style: italic; position: relative; text-align: center; left: 0;right: 0;top: 0; margin:  0 auto;}
.easyPieChart canvas {position: absolute;top: 0;left: 0;}
.report_big{float: left; width: 100%;}
.report_big .re_here_title { font-size: .32rem; display: block; text-align: center; font-weight: bold; margin: .88rem auto .4rem;}
.report_here img { float: left; width: 100%;}
.report_mesg { float: left; width: 92%; padding: 0 4%; margin-top: .2rem; line-height: 150%; color: #C9C9CA;}
.report_here { float: left; width: 100%; clear: both; position: relative;}
.tj_btn { width: 84%; float: left; clear: both; margin:.8rem 8%; height: .88rem; background: #FF4E38; color: #FFFFFF; font-size: .28rem; text-align: center; line-height: .88rem;}





