.user_box { font-size: .24rem; overflow: hidden;}
#nav_box { width: 300%; float: left; position: relative; left: 0;	}
#nav_box>li { width: 33.33%; float: left;overflow: hidden; padding-bottom: .0rem; min-height: 3rem;}
#nav_box>li>div { width: 100%; font-size: .24rem;  overflow: hidden; text-align: center;}
.collect { float: left; width: 100%; overflow: hidden;padding-bottom: 1rem;}
.nav_box { width: 100%;overflow: hidden;}
.bg_nav { width: 100%; clear: both; height: .88rem; line-height: .88rem; background-color: #e6e6e6;}
.bg_nav li { width: 33.33%; float: left; font-weight: bold;}
.bg_nav li.active { color: green;}
.type_box { background-color: #FFFFFF; width: 300%; position: relative; left: 0px;}
.type_here { width: 33.33%; float: left; min-height: 35rem; background: gold;}
.nac_boxa { width: 100%; height: .88rem; line-height: .88rem; text-align: center; border-bottom: 1px solid #EEEFEF; box-sizing: border-box;}
.nac_boxa>span { width: 33.33%; float: left; height: 100%;}
/*#user_tab { width: 100% !important; right: 0; top: 0rem; height: .88rem;  background: #999999;}
#user_tab .bx-pager { width: 100%; background: #FFFFFF; left: 0; top: 0; margin-left: 0;}
#user_tab .bx-pager .bx-pager-item { width: 33.33%; float: left; text-align: center;}
#user_tab .bx-pager .bx-pager-item a { display: block; width: 100%; text-align: center; height: .88rem; line-height: .88rem; top: 0px; margin: 0; border-radius: 0; background: none; color: #C9C9CA; text-indent: 0; z-index: 99;}*/
.nac_boxa { color: #777777;}
.nac_boxa .active {
    border-bottom: 2px solid #FF4E38;
    box-sizing: border-box;
    color: #221814 !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: 0 !important;}
.user_top>span { display: block; text-align: center;}
.head_img img {width: 2rem; height: 2rem; border-radius: 1rem; margin: .4rem auto .2rem auto;}
.head_name {font-size: .38rem; font-weight: bold; margin-bottom: .8rem;}
.head_more { color: #FF4E38; margin:  .3rem auto .6rem;}
.here_head img {  margin-left: .3rem;}
.right_type { position: absolute; height: .88rem; line-height: .88rem; font-size: .24rem; right: .3rem; color: #FF4E38;}
.fixed_top { position: fixed; max-width: 500px; margin: 0 auto; top: .88rem !important; left: 0; right: 0; background: #FFFFFF; z-index: 999;}
.tishi {padding:.4rem  0; background: #eeefef; line-height: 150%; font-size: .20rem; color: #777777;}
.bottom_name .here_name::after {
    content: "丨";
    padding-left: .2rem;
    color: #221814;
}
.hetong_btn { border-top: none !important;}
.hetong_box { float: left; width: 92%; margin-left: 3.5%; padding-top: .4rem; border-top: 1px solid #EEEFEF;}
.hetong_box .hetong_here { width: 31%; height: 2.1rem; float: left; margin-right: 3.5%; position: relative;}
.hetong_box .hetong_here:nth-child(3), .hetong_box .hetong_here:nth-child(6), .hetong_box .hetong_here:nth-child(9) { margin-right: 0;}
.hetong_here img { width: 100%; float: left; height: 100%;}
.dingdan { background: #eeefef; overflow: hidden; }
.dingdan>div {float: left; width: 100%; background: #FFFFFF; text-align: left;}
.dingdan>div:last-child { margin-bottom: 0 !important;}
.dd_here { width: 100% !important; padding: 0 !important; margin-bottom: .4rem; position: relative;}
.dd_here:last-child { margin-bottom: 0;}
.dd_here .here_bottom { position: relative; margin: .4rem 0;}
.jm_time,.jm_money{ display: block; text-align: left; margin-bottom: .2rem;}
.true_time {margin: 0 4%;
            text-align: left;
            color: #777777;
            border-top: 1px solid #EEEFEF;
            float: left;
            width: 92%;
            clear: both;
            padding: .3rem 0;} 
.jm_time, .jm_money,.true_time { text-indent: .3rem;}
.jm_money { margin-bottom: .4rem; color: #777777;}
.jm_money>a { color: #FF4E38; text-decoration:line-through ; font-weight: bold; margin-right: .2rem;}
.zy_pp .pro_here { margin-bottom: .4rem;}
.zy_pp .true_time { padding-left: .3rem; text-indent: 0; position: relative; float: left; width: 96%;}
.zy_pp .true_time .true_btn { position: absolute; border: none; font-size: .2rem; text-indent: 0; right: .3rem; top: 0; bottom: 0;width: 1.4rem; height: .6rem; background: #FF4E38; line-height: .6rem; color: #ffffff; margin: auto; text-align: center;}
.tj_spa { display: block; font-weight: bold; margin-bottom: .2rem;}
.tj_box { margin-left: .3rem;}
.tj_box >span { display: block;}
.tj_spb  { color: #777777; width: 5.7rem; margin-bottom: .4rem;}
.tj_spb a {color: #FF4E38;}
.zy_pp { margin-bottom: .4rem;}
.color_ccc { color: #777777 !important;}
.color_ooo { color: #221814 !important;}
.queren_btn  {  height: .3rem;}
.queren_btn >span { position: absolute; width: 1.8rem; top: 0; bottom: 0; margin: auto; height: .6rem; line-height: .6rem; text-align: center; color: #FFFFFF;}
.queren_btn .true_btnb { background: #FF4E38; right: .3rem;}
.queren_btn .true_btna { background: #777777; right: 2.5rem;width:3.3rem;}
.color_ccca { width: 2rem; line-height: .2rem; color: #777777;}
.ooo_spa,.ooo_spb { position: absolute; right: 0; text-align: right;}
.ooo_spa{top: .15rem;}
.here_bottom { bottom: 0;}
.ooo_spb { bottom: .2rem;}
.hetong {width: 2rem !important;}
/*.dd_here .jm_time, .dd_here .jm_money {
    text-indent: .3rem;              
}*/
.icon-shanchu1 { right:.3rem; top: .3rem; z-index: 99;}
.icon-shanchu1::before { font-size: .20rem;}
.dingdan .icon-shanchu1 { right:.2rem; top: .2rem; }
.shanchu_box { position: absolute; width: 1.5rem; height: 1.5rem; z-index: 999; top: 0; right:0;}
/*需求*/
.xuqiu { position: relative; float: left; background: #eeefef;}
.xuqiu_here { font-size: .24rem;  width: 92% ; padding: 0 4%;text-align: left; float: left;  background: #FFFFFF; }
.xuqiu_center { margin-top: .4rem;}
.center_img { float: left; width: 2.1rem; height: 2.1rem; margin-bottom: .2rem;}
.xuqiu_here .here_left { color: #777777;}
.xq_here_top { height: 1rem; width:100%; position: relative;  border-bottom: 1px solid #EEEFEF;}
.xq_here_top>span {  line-height:1rem; }
.xuqiu .center_here { line-height: .4rem; width: 100%; float: left;}
.center_here .here_left {width: 1.5rem; float: left;}
.xq_here_top .xq_top_left { float: left; }
.xq_here_top .xq_top_btn { position: absolute; right:0; top: 0; bottom: 0; margin: auto; width: 1.2rem; height: .6rem; line-height: .6rem; text-align: center; color: #FF4E38;}
.here_bott { margin: .4rem 0; float: left; width: 100%;}
.help_bot_btn { height: .88rem; width: .88rem; position: fixed; left:50%; margin-left: -.44rem; z-index: 99999; bottom: .4rem;}
.help_bot_btn .iconfont { font-size: .46rem;}
.help_bot_btn>span { width: .88rem; height: .88rem; position:absolute; left: 0; top: 0; border-radius: .44rem; text-align: center; line-height: .88rem;}
.help_bot_btn .help_btn {  z-index: 99; width: 1.88rem; left: -.5rem; top: -.5rem; height: 1.88rem; left: -.5rem;}
.help_bot_btn .help_btn a {width: .88rem; height: .88rem; left: .5rem; top: .5rem; border-radius: .44rem; position: absolute;background: #FF4E38; color: #FFFFFF;}
.help_bot_btn .iphone_btn { background: #FFFFFF; color: #FF4E38;display: none; z-index: 98;}
.help_bot_btn .bot_btn { background: #FFFFFF; color: #FF4E38; display: none; z-index: 97;}
.iphone_btn a,.bot_btn a { display: block; color: #FF4E38; }
.help_bot_zd {   
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    z-index: 99998;
}



/*风格报告*/
.report_center { display: block; text-align: center;}
.center_name { margin: .4rem auto .2rem; font-weight: bold;}
.ratio_box { margin-top: .4rem;}
.ratio_box .chart { width: 33.33%; float: left; text-align: center; position: relative;}
.ratio_box .chart .label { margin-top:.4rem ;}
.easyPieChart { color: #C9C9CA; font-style: italic; position: relative; text-align: center; left: 0;right: 0;top: 0; margin:  0 auto;}
.easyPieChart canvas {position: absolute;top: 0;left: 0;}
.report_big{float: left; width: 100%;}
.report_big .re_here_title { font-size: .32rem; display: block; text-align: center; font-weight: bold; margin: .88rem auto .4rem;}
.report_here img { float: left; width: 100%;}
.report_mesg { float: left; width: 92%; padding: 0 4%; margin-top: .2rem; line-height: 150%; color: #C9C9CA;}
.report_here { float: left; width: 100%; clear: both; position: relative;}
.tj_btn { width: 84%; float: left; clear: both; margin:.8rem 8%; height: .88rem; background: #FF4E38; color: #FFFFFF; font-size: .28rem; text-align: center; line-height: .88rem;}
.time_list i { margin:0 .15rem;}




