.agreement_box { font-size: .2rem;width: 92%; margin: 1.28rem 4% .8rem 4%; color: #777777;}
.agreement_box span { display: block;}
.titleaaa { display: block; color: #221814; margin-top: .4rem; font-size: .24rem; margin-bottom: .2rem;}
.agree_herea { line-height: 150%; text-indent: 2em;}
.agree_title {display: block; font-size: .28rem; font-weight: bold; text-align: center;  margin: .4rem auto; color: #221814;}
.agree_top { position: fixed; background: #FFFFFF; line-height: .88rem; font-size: .26rem; height:.88rem ; width: 100%; border-bottom: .01rem solid #EEEFEF; max-width: 500px; top: .88rem; left: 0; right: 0; margin: auto;}
.agree_top span { float: left; text-align: center; width: 50%; height:.88rem;}
.agree_top .active { color: #221814; border-bottom: 2px solid #FF4E38; box-sizing: border-box;}
.herea_ul { float: left; width: 92%; padding: 0 4%; text-indent: 0;}
.herea_ul li { display: block;}
.herea_ul li a { float: left; width: .1rem; height: .1rem; border-radius: .05rem; background: #FF4E38; margin: .1rem .2rem 0 .2rem;}
.agree_hereb { margin-top: .4rem;}
.agree_boxox { display: none;}
.agree_boxox.active { display: block;}
